Data Wrangling
Data Collection
Locating the data
Data loading
Data joining
Data Organization
File structure
Git & Github
Data Definition
Column names
Data types (numeric, categorical, timestamp, etc.)
Description of the columns
Count or percent per unique values or codes (including NA)
The range of values or codes
Data Cleaning
NA or missing data
Duplicates

Data Acquisition (manual intervention?)

Data quality (zipcodes in right form, can sales/units be 0 or neg?, differentiate cities w same name, num/cat variables take on expected boundaires

Deal w missing data

Dealing w small or large data

Blending multiple datasets

In [8]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [9]:
pd.__version__

'1.1.5'

In [10]:
os.getcwd()

'/Users/Livi/Projects/capstone2/notebooks'

In [11]:
med = pd.read_csv("../data/raw/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2017.csv")

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
med.shape

(1088687, 71)

In [13]:
med.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,12.0,20.0,34.0,55.0,27.0,9.0,36.0,1.0,3.0,1.1024
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,45.0,41.0,50.0,74.0,39.0,10.0,75.0,4.0,5.0,1.6807
3,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,50.0,44.0,66.0,75.0,64.0,20.0,48.0,13.0,11.0,2.1173
4,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,21.0,20.0,35.0,48.0,23.0,15.0,42.0,0.0,NaN,1.0032

CHECKPOINT, SAVING ORIGINAL DF

In [14]:
original_df = med.copy()

In [15]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

I ONLY WANT TO LOOK AT MENTAL HEALTH PROVIDERS SO I WILL FILTER THE DF FOR THOSE PROVIDER AND THEN EXAMINE THE NULL VALUES

In [16]:
med.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'Provider RUCA',
       'State Code of the Provider', 'Country Code of the Provider',
       'Provider Type of the Provider', 'Medicare Participation Indicator',
       'Number of HCPCS', 'Number of Services',
       'Number of Medicare Beneficiaries', 'Total Submitted Charge Amount',
       'Total Medicare Allowed Amount', 'Total Medicare Payment Amount',
       'Total Medicare Standardized Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Medicare Beneficiaries With Drug Services',
       'Total Drug Submitted Charge Amount',
       'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount',
       'Total Drug Medicare Standardized Payment Amount',
       'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Medicare Beneficiaries With Medical Services',
       'Total Medical Submitted Charge Amount',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Total Medical Medicare Standardized Payment Amount',
       'Average Age of Beneficiaries', 'Number of Beneficiaries Age Less 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries\t',
       'Number of Non-Hispanic White Beneficiaries\t',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [18]:
maybe_mental_providers = ['Clinic or Group Practice','Preventive Medicine',
                           'All Other Suppliers','Addiction Medicine',
                          'Occupational Therapist in Private Practice',]

In [19]:
def_mental_providers = ['Licensed Clinical Social Worker','Psychologist, Clinical',
                        'Geriatric Psychiatry','Neuropsychiatry',
                       'Psychiatry',]

In [20]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)

In [22]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)
for i in def_mental_providers:
    mental_med = pd.concat([mental_med, med[med["Provider Type of the Provider"]==i]])

In [23]:
len(mental_med)

58647

In [24]:
info = pd.DataFrame(index=mental_med.columns.values,
                    data={'data type': mental_med.dtypes, \
                          'non-null values': mental_med.notnull().sum(),
                          'unique values': mental_med.nunique(), \
                          'null values': mental_med.isnull().sum()})
info.sort_values('non-null values')

,data type,non-null values,unique values,null values
Medical Suppress Indicator,object,627,1,58020
Drug Suppress Indicator,object,627,1,58020
Number of Beneficiaries With Race Not Elsewhere Classified,float64,10083,46,48564
Number of Hispanic Beneficiaries,float64,10950,246,47697
Number of Asian Pacific Islander Beneficiaries,float64,12164,104,46483
Number of Beneficiaries Age 75 to 84,float64,12453,339,46194
Number of Black or African American Beneficiaries,float64,12972,305,45675
Number of American Indian/Alaska Native Beneficiaries,float64,16495,53,42152
Number of Beneficiaries Age Greater 84,float64,18474,359,40173
Percent (%) of Beneficiaries Identified With Asthma,float64,18658,51,39989
Percent (%) of Beneficiaries Identified With Cancer,float64,19135,73,39512
Number of Beneficiaries Age 65 to 74,float64,19197,333,39450
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,19677,57,38970
Street Address 2 of the Provider,object,22378,7696,36269
Percent (%) of Beneficiaries Identified With Heart Failure,float64,22555,74,36092
Number of Non-Hispanic White Beneficiaries\t,float64,23171,778,35476
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,23223,73,35424
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,23576,57,35071
Number of Beneficiaries Age Less 65,float64,23927,498,34720
Percent (%) of Beneficiaries Identified With Stroke,float64,25367,75,33280
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,25979,72,32668
Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia,float64,26261,73,32386
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,27277,69,31370
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,27717,683,30930
Number of Beneficiaries With Medicare Only Entitlement,float64,27717,539,30930
Percent (%) of Beneficiaries Identified With Diabetes,float64,29228,70,29419
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,31090,75,27557
Number of Male Beneficiaries\t,float64,31828,500,26819
Number of Female Beneficiaries,float64,31828,631,26819
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,34867,69,23780
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,35517,67,23130
Middle Initial of the Provider,object,40441,29,18206
Percent (%) of Beneficiaries Identified With Hypertension,float64,41669,62,16978
Percent (%) of Beneficiaries Identified With Depression,float64,51247,64,7400
Credentials of the Provider,object,55598,2394,3049
Total Medical Medicare Standardized Payment Amount,float64,58020,57613,627
Total Medical Medicare Payment Amount,float64,58020,57627,627
Total Medical Submitted Charge Amount,float64,58020,43554,627
Number of Medicare Beneficiaries With Medical Services,float64,58020,924,627
Number of Medical Services,float64,58020,3487,627
Number of HCPCS Associated With Medical Services,float64,58020,56,627
Total Drug Medicare Standardized Payment Amount,float64,58020,135,627
Total Drug Medicare Payment Amount,float64,58020,135,627
Total Drug Medicare Allowed Amount,float64,58020,135,627
Total Drug Submitted Charge Amount,float64,58020,135,627
Number of Medicare Beneficiaries With Drug Services,float64,58020,56,627
Number of HCPCS Associated With Drug Services,float64,58020,12,627
Total Medical Medicare Allowed Amount,float64,58020,57720,627
Number of Drug Services,float64,58020,123,627
Provider RUCA,float64,58419,21,228
Zip Code of the Provider,object,58646,37041,1
Last Name/Organization Name of the Provider,object,58646,30547,1
National Provider Identifier,object,58647,58647,0
Total Medicare Standardized Payment Amount,float64,58647,58230,0
First Name of the Provider,object,58647,9520,0
Gender of the Provider,object,58647,2,0
Entity Type of the Provider,object,58647,1,0
Street Address 1 of the Provider,object,58647,35616,0
City of the Provider,object,58647,4774,0
State Code of the Provider,object,58647,56,0
Country Code of the Provider,object,58647,6,0
Provider Type of the Provider,object,58647,5,0
Medicare Participation Indicator,object,58647,2,0
Number of HCPCS,object,58647,60,0
Number of Services,float64,58647,3570,0
Number of Medicare Beneficiaries,object,58647,931,0
Total Submitted Charge Amount,float64,58647,44127,0
Total Medicare Allowed Amount,float64,58647,58342,0
Total Medicare Payment Amount,float64,58647,58248,0
Average Age of Beneficiaries,object,58647,72,0
Average HCC Risk Score of Beneficiaries,float64,58647,18970,0

I wonder if I add all the races, if it will equal the total number of beneficiaries.
Same with the age groups.

In [25]:
mental_med['Number of Beneficiaries Age 75 to 84'].value_counts()

0.0      3169
11.0      294
12.0      282
14.0      278
15.0      237
         ...
466.0       1
504.0       1
238.0       1
243.0       1
263.0       1
Name: Number of Beneficiaries Age 75 to 84, Length: 339, dtype: int64

The age brackets don't equal the total number of medicare beneficiaries

In [27]:
(((mental_med['Number of Beneficiaries Age 65 to 74'].fillna(0).astype('int',) + \
 mental_med['Number of Beneficiaries Age Less 65'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age 75 to 84'].fillna(0).astype('int')+ \
 mental_med['Number of Beneficiaries Age Greater 84'].fillna(0).astype('int')
    ) == mental_med['Number of Medicare Beneficiaries']
        )*1
            ).sum()

7286

In [28]:
(mental_med['Number of Beneficiaries Age 65 to 74'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age Less 65'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age 75 to 84'].fillna(0).astype('int')+ \
 mental_med['Number of Beneficiaries Age Greater 84'].fillna(0).astype('int')
    ).value_counts()

0       27577
12        748
11        716
13        706
14        668
        ...
1329        1
1361        1
498         1
626         1
926         1
Length: 926, dtype: int64

Gender also doesn't add up although it's better than age.

# RENAMING COLS

In [121]:
mental_med.rename(columns={
    'Number of Male Beneficiaries\t':'Number of Male Beneficiaries',
    'Number of Non-Hispanic White Beneficiaries\t':'Number of Non-Hispanic White Beneficiaries',
    'Number of Medicare Beneficiaries':'Number of Unique Beneficiaries',
    'Zip Code of the Provider':'NPPES Provider Zip Code',
    'Country Code of the Provider':'NPPES Provider Country',
    'National Provider Identifier':'NPI',
    
}, inplace=True)

In [51]:
((mental_med['Number of Male Beneficiaries'] + mental_med['Number of Female Beneficiaries'] == \
    mental_med['Number of Unique Beneficiaries']
    )*1
    ).sum()

31828

Race bins also don't add up to total people seen.

In [52]:
race_cols = [
    'Number of American Indian/Alaska Native Beneficiaries',
    'Number of Asian Pacific Islander Beneficiaries',
    'Number of Beneficiaries With Race Not Elsewhere Classified',
    'Number of Black or African American Beneficiaries',
    'Number of Non-Hispanic White Beneficiaries',
    'Number of Hispanic Beneficiaries',
     ]

In [53]:
series = pd.Series(
    (mental_med['Number of American Indian/Alaska Native Beneficiaries'].fillna(0).astype('int')+\
   mental_med['Number of Asian Pacific Islander Beneficiaries'].fillna(0).astype('int')+\
   mental_med['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0).astype('int')+\
   mental_med['Number of Black or African American Beneficiaries'].fillna(0)+\
   mental_med['Number of Non-Hispanic White Beneficiaries'].fillna(0)+\
   mental_med['Number of Hispanic Beneficiaries'].fillna(0)
    )
)

mental_med['sum_of_races'] = series

In [54]:
print("Null Values in Black Ben Column:",(mental_med['Number of Black or African American Beneficiaries'].isnull()).sum())
print("Non-null Values in Black Ben Column:",(mental_med['Number of Black or African American Beneficiaries'].notnull()).sum())

Null Values in Black Ben Column: 45675
Non-null Values in Black Ben Column: 12972

This will make it easier to change "Number of Beneficiaries with Race not elsewhere classified"

In [55]:
mental_med['sum_matches_beneficiaries'] = (mental_med['Number of Unique Beneficiaries'] == series)*1

#Visualizing the numbers of people marked per race with the number of Unique Beneficiaries
mental_med[
    mental_med['sum_matches_beneficiaries']==0][race_cols]\
        .join(mental_med['Number of Unique Beneficiaries']).head()

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
13,0.0,0.0,0.0,NaN,NaN,0.0,11
21,NaN,NaN,NaN,NaN,NaN,NaN,31
30,0.0,0.0,NaN,0.0,NaN,0.0,11
156,NaN,NaN,NaN,NaN,NaN,NaN,22
201,NaN,NaN,NaN,NaN,NaN,NaN,15

Only 4000 entries have fully filled out race.

In [56]:
mental_med.sum_matches_beneficiaries.sum()

5621

In [57]:
mental_med[mental_med.sum_matches_beneficiaries == 0]['Number of Beneficiaries With Race Not Elsewhere Classified']

13         0.0
21         NaN
30         NaN
156        NaN
201        NaN
          ...
1088412    NaN
1088448    NaN
1088453    NaN
1088496    NaN
1088666    NaN
Name: Number of Beneficiaries With Race Not Elsewhere Classified, Length: 53026, dtype: float64

Here I add the current value of "Not Classified" with the remainder of Total Number Beneficiaries minus Sum of people of all races for that entry.

In [58]:
mental_med.loc[
        mental_med.sum_matches_beneficiaries == 0, 
        'Number of Beneficiaries With Race Not Elsewhere Classified'
            ]   = mental_med['Number of Unique Beneficiaries'] \
                + mental_med['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0)\
                - mental_med.sum_of_races

In [59]:
mental_med[
    mental_med.sum_matches_beneficiaries == 0
        ]['Number of Beneficiaries With Race Not Elsewhere Classified']

13         11
21         31
30         11
156        22
201        15
           ..
1088412    16
1088448    31
1088453    71
1088496    12
1088666    21
Name: Number of Beneficiaries With Race Not Elsewhere Classified, Length: 53026, dtype: object

In [60]:
#checking that i did it right

print(
(mental_med[race_cols].sum(axis=1)==mental_med['Number of Unique Beneficiaries']).sum()
)
print(
    len(mental_med)
)

58647
58647

How many zip codes exist for data that include the number of Black people?

In [63]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

10686

How many zip codes exist for data that include the number of White people?

In [64]:
mental_med[
    mental_med['Number of Non-Hispanic White Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

16586

How many zip codes exist for data that include the number of Hispanic people?

In [65]:
mental_med[
    mental_med['Number of Hispanic Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

9449

How many zip codes exist for data that include the number of Asian people

In [66]:
mental_med[
    mental_med['Number of Asian Pacific Islander Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

10419

How many zip codes exist for data that include the number of Native American people?

In [67]:
mental_med[
    mental_med['Number of American Indian/Alaska Native Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

13146

#### There's more data for White people than for Black people. It may be equally useful (for determining disparity or for later comparison) to study these data instead or as well.

CHECKPOINT, MENTAL HEALTH PROVIDERS DF

In [68]:
checkpoint1_df = mental_med.copy()

I want to look at zip codes with zero black people and also at what % are unknown (not listed) of total beneficiaries.

This is to show a limit of my data: some zip codes with Black beneficiaries listed as ZERO also have a high percentage of people with unlisted races

In [69]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries']==0]
temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100
temp.percent_race_unknown.value_counts().reset_index().sort_values('index', ascending=False)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          index  percent_race_unknown
1    100.000000                  1334
83    54.205607                     1
12    52.173913                     2
92    51.428571                     1
2     50.000000                     6
..          ...                   ...
138    4.013378                     1
46     3.947368                     1
160    3.928571                     1
43     2.941176                     1
0      0.000000                  5108

[179 rows x 2 columns]

I also want to look at Providers who included NULL VALUES for Black people and also at what % of entries have race not listed out of total beneficiaries.

In [70]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries'].isnull()]
temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100
temp.percent_race_unknown.value_counts().reset_index().sort_values('index', ascending=False).head(2000)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           index  percent_race_unknown
0     100.000000                 32628
2187   78.306878                     1
2486   65.625000                     1
2078   63.333333                     1
2079   62.857143                     1
...          ...                   ...
3827   17.083333                     1
253    17.073171                    10
2515   17.058824                     1
762    17.045455                     4
3614   17.040359                     1

[2000 rows x 2 columns]

In [71]:
print('Total NULL values for Black beneficiaries:',len(temp))

Total NULL values for Black beneficiaries: 45675

I want to know if I can enter ZERO for number of Black beneficiaries for some of these 28,000 entries. When I explored the data, I noticed a lot of them had NaN for ALL races except for Number of White Beneficiaries and Number of Beneficiaries for Which Race Not Listed. I wonder if this means the Not Listed patients are White.

Strange phenomenon:
8600 rows of data have numbers of White patients seen by a doctor and some number of patients for whom Race is Not Listed.
But the numbers of Black, Asian, Hispanic, or American Indian Beneficiaries are NaN.
(Or most are NaN, except for one).

Can I assume the Not Listed Beneficiaries are White? Or at least, Not Black?
Why would doctors do this?

In [72]:
temp[
    temp['Number of American Indian/Alaska Native Beneficiaries'].isnull() &\
    temp['Number of Asian Pacific Islander Beneficiaries'].isnull() &\
    temp['Number of Black or African American Beneficiaries'].isnull() &\
    temp['Number of Hispanic Beneficiaries'].isnull() &\
    temp['Number of Non-Hispanic White Beneficiaries'].notnull()
        ][race_cols
             ].join(temp['Number of Unique Beneficiaries'])

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
2060,NaN,NaN,42,NaN,59.0,NaN,101
2184,NaN,NaN,17,NaN,13.0,NaN,30
2569,NaN,NaN,26,NaN,24.0,NaN,50
3025,NaN,NaN,21,NaN,25.0,NaN,46
4148,NaN,NaN,19,NaN,92.0,NaN,111
...,...,...,...,...,...,...,...
1087462,NaN,NaN,12,NaN,68.0,NaN,80
1087993,NaN,NaN,29,NaN,114.0,NaN,143
1088149,NaN,NaN,24,NaN,81.0,NaN,105
1088199,NaN,NaN,30,NaN,119.0,NaN,149
1088666,NaN,NaN,21,NaN,82.0,NaN,103

I want to look at one more phenomenon I noticed: 
SOME columns for non-White races are marked 0, SOME are NaN, but White people is filled out.

In [73]:
temp[
    (temp['Number of American Indian/Alaska Native Beneficiaries'].isnull() |\
    temp['Number of Asian Pacific Islander Beneficiaries'].isnull() |\
    temp['Number of Black or African American Beneficiaries'].isnull() |\
    temp['Number of Hispanic Beneficiaries'].isnull() 
    ) &\
    temp['Number of Non-Hispanic White Beneficiaries'].notnull()
        ][race_cols
             ].join(temp['Number of Unique Beneficiaries']).head(100)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
588,0.0,0.0,11,NaN,18.0,NaN,29
2060,NaN,NaN,42,NaN,59.0,NaN,101
2184,NaN,NaN,17,NaN,13.0,NaN,30
2569,NaN,NaN,26,NaN,24.0,NaN,50
3025,NaN,NaN,21,NaN,25.0,NaN,46
3064,0.0,NaN,11,NaN,19.0,NaN,30
3235,NaN,NaN,13,NaN,62.0,0.0,75
3452,NaN,NaN,14,NaN,42.0,15.0,71
3986,0.0,NaN,11,NaN,34.0,NaN,45
4063,0.0,0.0,13,NaN,103.0,NaN,116
4148,NaN,NaN,19,NaN,92.0,NaN,111
4459,0.0,NaN,19,NaN,84.0,NaN,103
6685,0.0,0.0,12,NaN,17.0,NaN,29
7215,NaN,NaN,14,NaN,82.0,NaN,96
9241,NaN,NaN,15,NaN,31.0,NaN,46
9743,NaN,NaN,11,NaN,30.0,NaN,41
10355,NaN,NaN,29,NaN,72.0,NaN,101
10635,0.0,NaN,11,NaN,17.0,NaN,28
11441,NaN,NaN,33,NaN,64.0,NaN,97
12119,0.0,NaN,19,NaN,42.0,NaN,61
12623,0.0,NaN,13,NaN,37.0,NaN,50
13222,NaN,NaN,19,NaN,128.0,NaN,147
13886,0.0,NaN,11,NaN,35.0,NaN,46
14440,0.0,NaN,14,NaN,103.0,NaN,117
14642,0.0,NaN,11,NaN,36.0,NaN,47
14838,0.0,0.0,11,NaN,25.0,NaN,36
14998,0.0,0.0,11,NaN,36.0,NaN,47
15705,NaN,NaN,27,NaN,90.0,NaN,117
16084,NaN,NaN,16,NaN,37.0,NaN,53
16136,NaN,NaN,26,NaN,40.0,NaN,66
16211,0.0,0.0,12,NaN,36.0,0.0,48
17264,NaN,NaN,12,NaN,23.0,NaN,35
17427,0.0,NaN,13,NaN,172.0,NaN,185
17601,NaN,NaN,13,NaN,57.0,NaN,70
18904,NaN,NaN,13,NaN,19.0,NaN,32
18924,NaN,NaN,17,NaN,73.0,NaN,90
20149,NaN,NaN,19,NaN,42.0,NaN,61
20204,NaN,NaN,11,NaN,35.0,NaN,46
24023,0.0,0.0,13,NaN,18.0,NaN,31
26768,0.0,0.0,12,NaN,17.0,NaN,29
27393,NaN,NaN,22,NaN,46.0,NaN,68
27553,0.0,NaN,11,NaN,23.0,NaN,34
28048,NaN,NaN,37,NaN,189.0,NaN,226
28082,NaN,NaN,13,NaN,29.0,NaN,42
28870,NaN,NaN,19,NaN,17.0,NaN,36
30068,0.0,0.0,11,NaN,23.0,NaN,34
30277,NaN,NaN,14,NaN,46.0,NaN,60
30873,NaN,NaN,16,NaN,48.0,NaN,64
31167,NaN,NaN,26,NaN,125.0,NaN,151
31173,0.0,NaN,11,NaN,55.0,NaN,66
31437,NaN,NaN,18,NaN,39.0,NaN,57
33636,0.0,0.0,13,NaN,44.0,NaN,57
33902,0.0,0.0,11,NaN,42.0,NaN,53
36121,0.0,0.0,12,NaN,36.0,NaN,48
36856,NaN,0.0,12,NaN,66.0,NaN,78
37112,0.0,NaN,51,NaN,35.0,NaN,86
37289,NaN,NaN,19,NaN,38.0,NaN,57
37484,0.0,0.0,17,NaN,60.0,NaN,77
38333,NaN,NaN,22,NaN,16.0,NaN,38
38586,0.0,0.0,13,NaN,23.0,NaN,36
39040,0.0,NaN,13,NaN,61.0,NaN,74
39067,NaN,NaN,25,NaN,42.0,NaN,67
39914,0.0,0.0,12,NaN,37.0,NaN,49
40169,NaN,NaN,26,NaN,35.0,NaN,61
40613,NaN,NaN,57,NaN,62.0,NaN,119
40869,NaN,NaN,30,NaN,54.0,NaN,84
40887,NaN,0.0,13,NaN,60.0,NaN,73
41170,0.0,0.0,11,NaN,60.0,0.0,71
41859,NaN,NaN,43,NaN,378.0,NaN,421
42042,NaN,NaN,15,NaN,34.0,43.0,92
42043,NaN,NaN,16,NaN,75.0,NaN,91
42195,0.0,0.0,12,NaN,111.0,NaN,123
42219,NaN,NaN,20,NaN,40.0,NaN,60
42262,NaN,NaN,14,NaN,60.0,NaN,74
42590,0.0,0.0,11,NaN,99.0,NaN,110
42598,NaN,NaN,16,NaN,47.0,NaN,63
42755,NaN,NaN,14,NaN,22.0,NaN,36
43046,0.0,NaN,15,NaN,39.0,NaN,54
43392,NaN,NaN,31,NaN,145.0,NaN,176
43640,0.0,NaN,12,NaN,34.0,NaN,46
48141,NaN,NaN,14,NaN,26.0,NaN,40
48553,NaN,NaN,19,NaN,25.0,NaN,44
48743,NaN,NaN,18,NaN,52.0,NaN,70
49471,NaN,NaN,24,NaN,52.0,NaN,76
50048,NaN,NaN,22,NaN,13.0,NaN,35
50121,0.0,0.0,11,NaN,62.0,NaN,73
50291,NaN,NaN,28,NaN,90.0,NaN,118
50478,0.0,NaN,11,NaN,208.0,NaN,219
50886,NaN,NaN,22,NaN,35.0,NaN,57
52044,NaN,NaN,18,NaN,16.0,24.0,58
52247,0.0,NaN,13,NaN,49.0,NaN,62
52429,NaN,NaN,30,NaN,53.0,NaN,83
52435,NaN,NaN,18,NaN,28.0,NaN,46
52482,NaN,NaN,20,NaN,97.0,NaN,117
53087,0.0,0.0,15,NaN,183.0,NaN,198
53208,NaN,NaN,15,NaN,33.0,NaN,48
53243,0.0,0.0,11,NaN,35.0,0.0,46
53259,NaN,NaN,25,NaN,24.0,NaN,49
55643,NaN,NaN,17,NaN,41.0,NaN,58
56220,NaN,0.0,16,NaN,83.0,NaN,99

Again, not sure why some are NaN and others are 0.
Also, not sure why some are filled and others are NaN.

It might help to do the MERGE with Census and see how the racial demographics are of these zip codes. 

I will mark ZERO for these 10,000 columns but add another column, marking those columns where I impute ZERO Black patients that I imputed them.

In [74]:
mental_med['imputed_zero'] = 0

In [75]:
mask = (mental_med['Number of American Indian/Alaska Native Beneficiaries'].isnull() |\
    mental_med['Number of Asian Pacific Islander Beneficiaries'].isnull() |\
    mental_med['Number of Black or African American Beneficiaries'].isnull() |\
    mental_med['Number of Hispanic Beneficiaries'].isnull() 
    ) &\
        mental_med['Number of Non-Hispanic White Beneficiaries'].notnull()
mental_med[mask][race_cols]

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
588,0.0,0.0,11,NaN,18.0,NaN
1561,NaN,NaN,18,37.0,309.0,NaN
2060,NaN,NaN,42,NaN,59.0,NaN
2184,NaN,NaN,17,NaN,13.0,NaN
2242,NaN,NaN,21,45.0,91.0,NaN
...,...,...,...,...,...,...
1088309,NaN,0.0,14,NaN,73.0,28.0
1088334,NaN,NaN,24,34.0,539.0,112.0
1088412,0.0,NaN,16,NaN,56.0,NaN
1088496,0.0,NaN,12,NaN,93.0,12.0
1088666,NaN,NaN,21,NaN,82.0,NaN

In [76]:
idx = mental_med[mask].index

In [77]:
mental_med.loc[idx,'Number of Hispanic Beneficiaries'] = mental_med.loc[idx,'Number of Hispanic Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of American Indian/Alaska Native Beneficiaries'] =mental_med.loc[idx,'Number of American Indian/Alaska Native Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of Asian Pacific Islander Beneficiaries'] = mental_med.loc[idx,'Number of Asian Pacific Islander Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of Black or African American Beneficiaries'] = mental_med.loc[idx,'Number of Black or African American Beneficiaries'].fillna(0)

Now how many null values for Number of Black Beneficiaries?

In [78]:
mental_med['Number of Black or African American Beneficiaries'].isnull().sum()

32993

Seeing how many Latinos not null when Black people are null

In [79]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'].isnull()
][race_cols].join(
    mental_med['Number of Unique Beneficiaries']).sort_values(
        'Number of Hispanic Beneficiaries', ascending=False).head(300)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
944146,NaN,NaN,29,NaN,NaN,918.0,947
691556,NaN,NaN,107,NaN,NaN,442.0,549
169436,NaN,NaN,98,NaN,NaN,312.0,410
307826,NaN,NaN,19,NaN,NaN,290.0,309
323248,NaN,NaN,68,NaN,NaN,271.0,339
...,...,...,...,...,...,...,...
380401,0.0,0.0,12,NaN,NaN,15.0,27
873492,0.0,0.0,14,NaN,NaN,14.0,28
661434,0.0,NaN,11,NaN,NaN,14.0,25
1070608,NaN,114.0,22,NaN,NaN,14.0,150
236420,0.0,0.0,12,NaN,NaN,14.0,26

I made a percent_race_unknown col for each row with null values for Black beneficiaries.

18,477 entries are 100% unknown (no number listed for any race).

The total number of null entries for Black beneficiaries is 18791, so there's not much guessing I can do to mitigate this.

In [80]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries'].isnull()]

temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100

temp.percent_race_unknown.value_counts(
    ).reset_index(
        ).rename(columns={'index':'percent_unknown',
                          'percent_race_unknown':'number_of_entries'}
                                ).sort_values(
                                    'percent_unknown', ascending=False).head(2000)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     percent_unknown  number_of_entries
0         100.000000              32608
42         62.068966                  2
43         61.290323                  2
87         60.526316                  1
146        60.000000                  1
..               ...                ...
122         7.189542                  1
206         6.857143                  1
227         6.321839                  1
270         6.148867                  1
230         3.062302                  1

[271 rows x 2 columns]

There are no null values in the column "Number of Beneficiaries With Race Not Elsewhere Classified" since I put the remainder of "Number of Unique Beneficiaries" with no race in that column.

Here, I fill all the rest of the null values in Race columns with "Unknown." I may be able to use these columns for other investigations, but I won't be able to include them in visualizing or modeling race. Note that some columns actually list 0 for some races but NaN for the others. The 0 is useful, but without any non-zero values in any other race columns, does not tell me much about the races of people seen by that doctor.

In [81]:
temp[temp.percent_race_unknown == 100][race_cols].head(2)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
13,0.0,0.0,11,NaN,NaN,0.0
21,NaN,NaN,31,NaN,NaN,NaN

In [82]:
#Indexes of all rows with 100% race unknown
idx = temp[temp.percent_race_unknown == 100].index

mental_med.loc[idx, race_cols] = mental_med.loc[idx, race_cols].fillna('unknown')

CHECKPOINT, MENTAL HEALTH PROVIDERS WITH NULLS FILLED OR AS 'UNKNOWN'

In [83]:
checkpoint2_df = mental_med.copy()

#NEW DFs, one with 19,000 entries and races filled or imputed 
#and the other with 18,000 and races all or mostly 'unknown'

race_known = mental_med.drop(index=idx)
race_unknown = mental_med.loc[idx]


# LEFT OFF HERE

##### Aggregating by Zip Code

In [84]:
race_known['NPPES Provider Zip Code'].nunique()

18402

In [85]:
race_known['Total Medicare Allowed Amount']

30           8025.11
214         30821.78
391         44676.29
588         27830.13
633          6400.43
             ...
1088309     48935.41
1088334    141906.10
1088412     21838.26
1088496     27047.51
1088666     27318.88
Name: Total Medicare Allowed Amount, Length: 26039, dtype: float64

In [86]:
race_known.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'NPPES Provider Zip Code', 'Provider RUCA',
       'State Code of the Provider', 'Country Code of the Provider',
       'Provider Type of the Provider', 'Medicare Participation Indicator',
       'Number of HCPCS', 'Number of Services',
       'Number of Unique Beneficiaries', 'Total Submitted Charge Amount',
       'Total Medicare Allowed Amount', 'Total Medicare Payment Amount',
       'Total Medicare Standardized Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Medicare Beneficiaries With Drug Services',
       'Total Drug Submitted Charge Amount',
       'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount',
       'Total Drug Medicare Standardized Payment Amount',
       'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Medicare Beneficiaries With Medical Services',
       'Total Medical Submitted Charge Amount',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Total Medical Medicare Standardized Payment Amount',
       'Average Age of Beneficiaries', 'Number of Beneficiaries Age Less 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries', 'sum_of_races',
       'sum_matches_beneficiaries', 'imputed_zero'],
      dtype='object')

In [87]:
race_known['NPPES Provider Zip Code'].isnull().sum()

0

WHILE TRYING TO GROUPBY ZIPCODE AND AGGREGATE IMPORTANT COLUMNS, I REALIZED THAT SOME NUMERICAL COLUMNS ARE LISTED AS OBJECTS

In [88]:
race_known.select_dtypes('object').columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'NPPES Provider Zip Code', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type of the Provider',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Unique Beneficiaries', 'Drug Suppress Indicator',
       'Medical Suppress Indicator', 'Average Age of Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified'],
      dtype='object')

In [89]:
print(race_known.shape[0])
print((race_known.sum_of_races == race_known['Number of Unique Beneficiaries'].astype('int')).sum())

26039
5621

I have to recalculate 'sum_of_race' column to show the change I made to the 'race not listed' column.

In [90]:
series = pd.Series(
    (race_known['Number of American Indian/Alaska Native Beneficiaries'].fillna(0).astype('int')+\
   race_known['Number of Asian Pacific Islander Beneficiaries'].fillna(0).astype('int')+\
   race_known['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0).astype('int')+\
   race_known['Number of Black or African American Beneficiaries'].fillna(0)+\
   race_known['Number of Non-Hispanic White Beneficiaries'].fillna(0)+\
   race_known['Number of Hispanic Beneficiaries'].fillna(0)
    )
)

race_known['sum_of_races'] = series

In [91]:
print(race_known.shape[0])
print((race_known.sum_of_races == race_known['Number of Unique Beneficiaries'].astype('int')).sum())

26039
26039

In [92]:
race_known['Average Age of Beneficiaries'].unique()

array([57, 87, 77, 49, 60, 51, 50, 62, 55, 79, 72, 52, 48, 47, 59, 44, 46,
       76, 74, 75, 78, 63, 69, 71, 73, 66, 70, 82, 54, 64, 53, 58, 67, 42,
       68, 61, 65, 56, 84, 81, 85, 40, 83, 45, 41, 90, 80, 86, 43, 39, 88,
       89, 37, 30, 35, 34, 91, 18, 36, 32, 38, 27], dtype=object)

In [93]:
race_known['Number of Unique Beneficiaries']=race_known['Number of Unique Beneficiaries'].astype('int')
race_known['Average Age of Beneficiaries'] =race_known['Average Age of Beneficiaries'].astype('int')

# PICKING UP HERE

In [119]:
mental_med.drop(index = (mental_med[mental_med['NPPES Provider Country'] != 'US']).index, inplace=True)
mental_med['NPPES Provider Zip Code']

13         551043453
21          42762201
30         480603838
156        494234918
201         48412739
             ...
1088412    100255854
1088448    100280915
1088453    554162699
1088496    366091794
1088666    346985848
Name: NPPES Provider Zip Code, Length: 58642, dtype: object

In [122]:
mental_med['five_dig_zip'] = \
    mental_med['NPPES Provider Zip Code'
         ].astype('str'
                 ).apply(lambda x: x[:5]
                        ).apply(lambda x:int(float(x))
                                ).map('{:05}'.format)
mental_med.groupby('five_dig_zip'
                    )['NPI'].count(
                        ).reset_index(
                            ).five_dig_zip.nunique()

10174

In [127]:
mental_med['unknown_black_ben']=0

mask = mental_med['Number of Black or African American Beneficiaries'
              ]=='unknown'
idx = mental_med[mask].index

mental_med.loc[idx, 'unknown_black_ben'] = 1

(mental_med.groupby('five_dig_zip'
                  )['unknown_black_ben'
                       ].sum() == 0).sum()

1891

In [128]:
mental_med['unknown_white_ben']=0

mask = mental_med['Number of Non-Hispanic White Beneficiaries'
              ]=='unknown'
idx = mental_med[mask].index

mental_med.loc[idx, 'unknown_white_ben'] = 1

(mental_med.groupby('five_dig_zip'
                  )['unknown_white_ben'
                       ].sum() == 0).sum()

1891

In [129]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'
              ]=='unknown'
][race_cols]

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
13,0,0,11,unknown,unknown,0
21,unknown,unknown,31,unknown,unknown,unknown
156,unknown,unknown,22,unknown,unknown,unknown
201,unknown,unknown,15,unknown,unknown,unknown
406,unknown,unknown,53,unknown,unknown,unknown
...,...,...,...,...,...,...
1088041,unknown,unknown,32,unknown,unknown,unknown
1088241,unknown,unknown,90,unknown,unknown,unknown
1088305,unknown,unknown,16,unknown,unknown,unknown
1088448,unknown,unknown,31,unknown,unknown,unknown
1088453,unknown,unknown,71,unknown,unknown,unknown

How is Census DF split up on zip codes? Does it aggregate these five dig zips or separate them?

# Census DF

In [709]:
census = pd.read_csv('../data/raw/bq-results-20201218-132013-8keivq3ncjn2.csv')

In [710]:
census.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
0,87537,2014-01-01,2510,856,1283,1227,42.1,58,75,87,...,NaN,NaN,304,171,80,593,20,NaN,NaN,NaN
1,87017,2014-01-01,346,112,150,196,50.9,0,0,12,...,NaN,NaN,0,27,15,96,40,NaN,NaN,NaN
2,87528,2014-01-01,3505,727,1758,1747,27.9,260,194,159,...,NaN,NaN,293,266,298,1237,138,NaN,NaN,NaN
3,87533,2014-01-01,133,58,49,84,25.8,0,12,8,...,NaN,NaN,24,8,7,58,3,NaN,NaN,NaN
4,87511,2014-01-01,2896,787,1177,1719,36.0,142,63,44,...,NaN,NaN,263,107,163,1008,279,NaN,NaN,NaN

In [712]:
census.geo_id.shape, census.geo_id.nunique()

((33120,), 33120)

In [713]:
census[census.geo_id == 99701]

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
4250,99701,2014-01-01,17510,6924,8941,8569,32.5,650,389,538,...,2444.0,1812.0,756,907,657,4055,1233,NaN,NaN,NaN