Data Wrangling
Data Collection
Locating the data
Data loading
Data joining
Data Organization
File structure
Git & Github
Data Definition
Column names
Data types (numeric, categorical, timestamp, etc.)
Description of the columns
Count or percent per unique values or codes (including NA)
The range of values or codes
Data Cleaning
NA or missing data
Duplicates

Data Acquisition (manual intervention?)

Data quality (zipcodes in right form, can sales/units be 0 or neg?, differentiate cities w same name, num/cat variables take on expected boundaires

Deal w missing data

Dealing w small or large data

Blending multiple datasets

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
pd.__version__

'1.1.5'

In [5]:
os.getcwd()

'/Users/Livi/Projects/capstone2/notebooks'

In [6]:
med = pd.read_csv("../data/raw/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2018.csv")

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
med.shape

(1121462, 71)

In [8]:
med.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,47.0,53.0,75.0,75.0,55.0,11.0,56.0,9.0,11.0,2.2948
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,15.0,20.0,51.0,53.0,27.0,10.0,39.0,1.0,3.0,1.0899
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,44.0,31.0,51.0,68.0,35.0,5.0,75.0,6.0,5.0,1.7085
3,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,53.0,39.0,67.0,75.0,57.0,21.0,46.0,15.0,9.0,2.1838
4,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,23.0,23.0,49.0,56.0,21.0,NaN,41.0,NaN,NaN,1.0221

CHECKPOINT, SAVING ORIGINAL DF

In [9]:
original_df = med.copy()

In [10]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

I ONLY WANT TO LOOK AT MENTAL HEALTH PROVIDERS SO I WILL FILTER THE DF FOR THOSE PROVIDER AND THEN EXAMINE THE NULL VALUES

In [11]:
med.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'Provider RUCA',
       'State Code of the Provider', 'Country Code of the Provider',
       'Provider Type of the Provider', 'Medicare Participation Indicator',
       'Number of HCPCS', 'Number of Services',
       'Number of Medicare Beneficiaries', 'Total Submitted Charge Amount',
       'Total Medicare Allowed Amount', 'Total Medicare Payment Amount',
       'Total Medicare Standardized Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Medicare Beneficiaries With Drug Services',
       'Total Drug Submitted Charge Amount',
       'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount',
       'Total Drug Medicare Standardized Payment Amount',
       'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Medicare Beneficiaries With Medical Services',
       'Total Medical Submitted Charge Amount',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Total Medical Medicare Standardized Payment Amount',
       'Average Age of Beneficiaries', 'Number of Beneficiaries Age Less 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [12]:
maybe_mental_providers = ['Clinic or Group Practice','Preventive Medicine',
                           'All Other Suppliers','Addiction Medicine',
                          'Occupational Therapist in Private Practice',]

In [13]:
def_mental_providers = ['Licensed Clinical Social Worker','Psychologist, Clinical',
                        'Geriatric Psychiatry','Neuropsychiatry',
                       'Psychiatry',]

In [14]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)

In [15]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)
for i in def_mental_providers:
    mental_med = pd.concat([mental_med, med[med["Provider Type of the Provider"]==i]])

In [16]:
len(mental_med)

59888

In [17]:
info = pd.DataFrame(index=mental_med.columns.values,
                    data={'data type': mental_med.dtypes, \
                          'non-null values': mental_med.notnull().sum(),
                          'unique values': mental_med.nunique(), \
                          'null values': mental_med.isnull().sum()})
info.sort_values('non-null values')

,data type,non-null values,unique values,null values
Drug Suppress Indicator,object,602,1,59286
Medical Suppress Indicator,object,602,1,59286
Number of Beneficiaries With Race Not Elsewhere Classified,float64,10062,51,49826
Number of Hispanic Beneficiaries,float64,11129,240,48759
Number of Asian Pacific Islander Beneficiaries,float64,12283,100,47605
Number of Beneficiaries Age 75 to 84,float64,12666,341,47222
Number of Black or African American Beneficiaries,float64,13104,289,46784
Number of American Indian/Alaska Native Beneficiaries,float64,16865,43,43023
Percent (%) of Beneficiaries Identified With Asthma,float64,17985,51,41903
Percent (%) of Beneficiaries Identified With Cancer,float64,18952,75,40936
Number of Beneficiaries Age Greater 84,float64,19151,353,40737
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,19512,55,40376
Number of Beneficiaries Age 65 to 74,float64,19919,337,39969
Street Address 2 of the Provider,object,21215,7390,38673
Percent (%) of Beneficiaries Identified With Heart Failure,float64,22667,74,37221
Number of Non-Hispanic White Beneficiaries,float64,22909,758,36979
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,23375,74,36513
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,23775,55,36113
Number of Beneficiaries Age Less 65,float64,23805,469,36083
Percent (%) of Beneficiaries Identified With Stroke,float64,25914,75,33974
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,26129,73,33759
Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia,float64,26586,73,33302
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,27522,69,32366
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,27845,658,32043
Number of Beneficiaries With Medicare Only Entitlement,float64,27845,542,32043
Percent (%) of Beneficiaries Identified With Diabetes,float64,29191,68,30697
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,31265,75,28623
Number of Male Beneficiaries,float64,31852,477,28036
Number of Female Beneficiaries,float64,31852,615,28036
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,35257,69,24631
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,39022,64,20866
Middle Initial of the Provider,object,40796,29,19092
Percent (%) of Beneficiaries Identified With Hypertension,float64,42263,61,17625
Percent (%) of Beneficiaries Identified With Depression,float64,52051,65,7837
Credentials of the Provider,object,56579,2493,3309
Total Medical Medicare Standardized Payment Amount,float64,59286,58941,602
Total Medical Medicare Payment Amount,float64,59286,58892,602
Total Medical Submitted Charge Amount,float64,59286,44095,602
Number of Medicare Beneficiaries With Medical Services,float64,59286,907,602
Number of Medical Services,float64,59286,3396,602
Number of HCPCS Associated With Medical Services,float64,59286,52,602
Total Drug Medicare Standardized Payment Amount,float64,59286,117,602
Total Drug Medicare Payment Amount,float64,59286,117,602
Total Drug Medicare Allowed Amount,float64,59286,117,602
Total Drug Submitted Charge Amount,float64,59286,117,602
Number of Drug Services,float64,59286,107,602
Number of HCPCS Associated With Drug Services,float64,59286,11,602
Total Medical Medicare Allowed Amount,float64,59286,58965,602
Number of Medicare Beneficiaries With Drug Services,float64,59286,46,602
Provider RUCA,float64,59824,21,64
Zip Code of the Provider,object,59880,12961,8
City of the Provider,object,59881,4830,7
Street Address 1 of the Provider,object,59881,36891,7
National Provider Identifier,object,59888,59888,0
Total Medicare Standardized Payment Amount,float64,59888,59536,0
Last Name/Organization Name of the Provider,object,59888,30930,0
First Name of the Provider,object,59888,9699,0
Gender of the Provider,object,59888,2,0
Entity Type of the Provider,object,59888,1,0
State Code of the Provider,object,59888,57,0
Country Code of the Provider,object,59888,8,0
Average Age of Beneficiaries,object,59888,71,0
Provider Type of the Provider,object,59888,5,0
Number of HCPCS,object,59888,54,0
Number of Services,float64,59888,3471,0
Number of Medicare Beneficiaries,object,59888,915,0
Total Submitted Charge Amount,float64,59888,44639,0
Total Medicare Allowed Amount,float64,59888,59564,0
Total Medicare Payment Amount,float64,59888,59489,0
Medicare Participation Indicator,object,59888,2,0
Average HCC Risk Score of Beneficiaries,float64,59888,19177,0

I wonder if I add all the races, if it will equal the total number of beneficiaries.
Same with the age groups.

In [18]:
mental_med['Number of Beneficiaries Age 75 to 84'].value_counts()

0.0      3194
11.0      321
13.0      308
15.0      263
12.0      260
         ...
447.0       1
367.0       1
489.0       1
272.0       1
263.0       1
Name: Number of Beneficiaries Age 75 to 84, Length: 341, dtype: int64

The age brackets don't equal the total number of medicare beneficiaries

In [19]:
(((mental_med['Number of Beneficiaries Age 65 to 74'].fillna(0).astype('int',) + \
 mental_med['Number of Beneficiaries Age Less 65'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age 75 to 84'].fillna(0).astype('int')+ \
 mental_med['Number of Beneficiaries Age Greater 84'].fillna(0).astype('int')
    ) == mental_med['Number of Medicare Beneficiaries']
        )*1
            ).sum()

6992

In [20]:
(mental_med['Number of Beneficiaries Age 65 to 74'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age Less 65'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age 75 to 84'].fillna(0).astype('int')+ \
 mental_med['Number of Beneficiaries Age Greater 84'].fillna(0).astype('int')
    ).value_counts()

0       28088
11        832
12        790
13        778
14        730
        ...
1230        1
1518        1
2431        1
495         1
1311        1
Length: 915, dtype: int64

Gender also doesn't add up although it's better than age.

# RENAMING COLS

In [21]:
mental_med.rename(columns={
    'Number of Male Beneficiaries\t':'Number of Male Beneficiaries',
    'Number of Non-Hispanic White Beneficiaries\t':'Number of Non-Hispanic White Beneficiaries',
    'Number of Medicare Beneficiaries':'Number of Unique Beneficiaries',
    'Zip Code of the Provider':'NPPES Provider Zip Code',
    'Country Code of the Provider':'NPPES Provider Country',
    'National Provider Identifier':'NPI',
    
}, inplace=True)

In [22]:
((mental_med['Number of Male Beneficiaries'] + mental_med['Number of Female Beneficiaries'] == \
    mental_med['Number of Unique Beneficiaries']
    )*1
    ).sum()

31852

Race bins also don't add up to total people seen.

In [23]:
race_cols = [
    'Number of American Indian/Alaska Native Beneficiaries',
    'Number of Asian Pacific Islander Beneficiaries',
    'Number of Beneficiaries With Race Not Elsewhere Classified',
    'Number of Black or African American Beneficiaries',
    'Number of Non-Hispanic White Beneficiaries',
    'Number of Hispanic Beneficiaries',
     ]

In [24]:
series = pd.Series(
    (mental_med['Number of American Indian/Alaska Native Beneficiaries'].fillna(0).astype('int')+\
   mental_med['Number of Asian Pacific Islander Beneficiaries'].fillna(0).astype('int')+\
   mental_med['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0).astype('int')+\
   mental_med['Number of Black or African American Beneficiaries'].fillna(0)+\
   mental_med['Number of Non-Hispanic White Beneficiaries'].fillna(0)+\
   mental_med['Number of Hispanic Beneficiaries'].fillna(0)
    )
)

mental_med['sum_of_races'] = series

In [25]:
print("Null Values in Black Ben Column:",(mental_med['Number of Black or African American Beneficiaries'].isnull()).sum())
print("Non-null Values in Black Ben Column:",(mental_med['Number of Black or African American Beneficiaries'].notnull()).sum())

Null Values in Black Ben Column: 46784
Non-null Values in Black Ben Column: 13104

This will make it easier to change "Number of Beneficiaries with Race not elsewhere classified"

In [26]:
mental_med['sum_matches_beneficiaries'] = (mental_med['Number of Unique Beneficiaries'] == series)*1

#Visualizing the numbers of people marked per race with the number of Unique Beneficiaries
mental_med[
    mental_med['sum_matches_beneficiaries']==0][race_cols]\
        .join(mental_med['Number of Unique Beneficiaries']).head()

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
12,NaN,NaN,NaN,NaN,NaN,NaN,15
19,NaN,NaN,NaN,NaN,NaN,NaN,34
29,0.0,0.0,NaN,0.0,NaN,0.0,11
159,NaN,NaN,NaN,NaN,NaN,NaN,19
395,NaN,NaN,NaN,NaN,NaN,NaN,18

Only 4000 entries have fully filled out race.

In [27]:
mental_med.sum_matches_beneficiaries.sum()

5514

In [28]:
mental_med[mental_med.sum_matches_beneficiaries == 0]['Number of Beneficiaries With Race Not Elsewhere Classified']

12        NaN
19        NaN
29        NaN
159       NaN
395       NaN
           ..
1121231   NaN
1121236   NaN
1121256   NaN
1121280   NaN
1121441   NaN
Name: Number of Beneficiaries With Race Not Elsewhere Classified, Length: 54374, dtype: float64

Here I add the current value of "Not Classified" with the remainder of Total Number Beneficiaries minus Sum of people of all races for that entry.

In [29]:
mental_med.loc[
        mental_med.sum_matches_beneficiaries == 0, 
        'Number of Beneficiaries With Race Not Elsewhere Classified'
            ]   = mental_med['Number of Unique Beneficiaries'] \
                + mental_med['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0)\
                - mental_med.sum_of_races

In [30]:
mental_med[
    mental_med.sum_matches_beneficiaries == 0
        ]['Number of Beneficiaries With Race Not Elsewhere Classified']

12         15
19         34
29         11
159        19
395        18
           ..
1121231    29
1121236    92
1121256    37
1121280    33
1121441    25
Name: Number of Beneficiaries With Race Not Elsewhere Classified, Length: 54374, dtype: object

In [31]:
#checking that i did it right

print(
(mental_med[race_cols].sum(axis=1)==mental_med['Number of Unique Beneficiaries']).sum()
)
print(
    len(mental_med)
)

59888
59888

How many zip codes exist for data that include the number of Black people?

In [32]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

6292

How many zip codes exist for data that include the number of White people?

In [33]:
mental_med[
    mental_med['Number of Non-Hispanic White Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

8234

How many zip codes exist for data that include the number of Hispanic people?

In [34]:
mental_med[
    mental_med['Number of Hispanic Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

5862

How many zip codes exist for data that include the number of Asian people

In [35]:
mental_med[
    mental_med['Number of Asian Pacific Islander Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

6286

How many zip codes exist for data that include the number of Native American people?

In [36]:
mental_med[
    mental_med['Number of American Indian/Alaska Native Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

7182

#### There's more data for White people than for Black people. It may be equally useful (for determining disparity or for later comparison) to study these data instead or as well.

CHECKPOINT, MENTAL HEALTH PROVIDERS DF

In [37]:
checkpoint1_df = mental_med.copy()

I want to look at zip codes with zero black people and also at what % are unknown (not listed) of total beneficiaries.

This is to show a limit of my data: some zip codes with Black beneficiaries listed as ZERO also have a high percentage of people with unlisted races

In [38]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries']==0]
temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100
temp.percent_race_unknown.value_counts().reset_index().sort_values('index', ascending=False)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          index  percent_race_unknown
1    100.000000                  1521
51    60.000000                     1
133   52.173913                     1
54    52.000000                     1
55    51.851852                     1
..          ...                   ...
169    3.828829                     1
53     3.819444                     1
159    3.589744                     1
97     3.481013                     1
0      0.000000                  5046

[202 rows x 2 columns]

I also want to look at Providers who included NULL VALUES for Black people and also at what % of entries have race not listed out of total beneficiaries.

In [39]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries'].isnull()]
temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100
temp.percent_race_unknown.value_counts().reset_index().sort_values('index', ascending=False).head(2000)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           index  percent_race_unknown
0     100.000000                 33832
1888   78.475336                     1
1916   67.647059                     1
1903   66.666667                     1
1905   65.789474                     1
...          ...                   ...
1054   16.346154                     3
1473   16.339869                     2
1052   16.336634                     3
960    16.326531                     3
2219   16.320475                     1

[2000 rows x 2 columns]

In [40]:
print('Total NULL values for Black beneficiaries:',len(temp))

Total NULL values for Black beneficiaries: 46784

I want to know if I can enter ZERO for number of Black beneficiaries for some of these 28,000 entries. When I explored the data, I noticed a lot of them had NaN for ALL races except for Number of White Beneficiaries and Number of Beneficiaries for Which Race Not Listed. I wonder if this means the Not Listed patients are White.

Strange phenomenon:
8600 rows of data have numbers of White patients seen by a doctor and some number of patients for whom Race is Not Listed.
But the numbers of Black, Asian, Hispanic, or American Indian Beneficiaries are NaN.
(Or most are NaN, except for one).

Can I assume the Not Listed Beneficiaries are White? Or at least, Not Black?
Why would doctors do this?

In [41]:
temp[
    temp['Number of American Indian/Alaska Native Beneficiaries'].isnull() &\
    temp['Number of Asian Pacific Islander Beneficiaries'].isnull() &\
    temp['Number of Black or African American Beneficiaries'].isnull() &\
    temp['Number of Hispanic Beneficiaries'].isnull() &\
    temp['Number of Non-Hispanic White Beneficiaries'].notnull()
        ][race_cols
             ].join(temp['Number of Unique Beneficiaries'])

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
457,NaN,NaN,20,NaN,19.0,NaN,39
2050,NaN,NaN,14,NaN,83.0,NaN,97
2074,NaN,NaN,35,NaN,43.0,NaN,78
3084,NaN,NaN,22,NaN,34.0,NaN,56
3556,NaN,NaN,21,NaN,42.0,NaN,63
...,...,...,...,...,...,...,...
1120112,NaN,NaN,21,NaN,46.0,NaN,67
1120151,NaN,NaN,14,NaN,32.0,NaN,46
1120532,NaN,NaN,19,NaN,44.0,NaN,63
1120772,NaN,NaN,36,NaN,107.0,NaN,143
1120871,NaN,NaN,23,NaN,49.0,NaN,72

I want to look at one more phenomenon I noticed: 
SOME columns for non-White races are marked 0, SOME are NaN, but White people is filled out.

In [42]:
temp[
    (temp['Number of American Indian/Alaska Native Beneficiaries'].isnull() |\
    temp['Number of Asian Pacific Islander Beneficiaries'].isnull() |\
    temp['Number of Black or African American Beneficiaries'].isnull() |\
    temp['Number of Hispanic Beneficiaries'].isnull() 
    ) &\
    temp['Number of Non-Hispanic White Beneficiaries'].notnull()
        ][race_cols
             ].join(temp['Number of Unique Beneficiaries']).head(100)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
457,NaN,NaN,20,NaN,19.0,NaN,39
595,0.0,0.0,11,NaN,22.0,NaN,33
2050,NaN,NaN,14,NaN,83.0,NaN,97
2074,NaN,NaN,35,NaN,43.0,NaN,78
2262,NaN,0.0,12,NaN,26.0,NaN,38
2731,0.0,0.0,12,NaN,35.0,NaN,47
3084,NaN,NaN,22,NaN,34.0,NaN,56
3556,NaN,NaN,21,NaN,42.0,NaN,63
4321,NaN,NaN,30,NaN,176.0,NaN,206
4565,0.0,0.0,12,NaN,21.0,NaN,33
5214,NaN,NaN,15,NaN,34.0,NaN,49
7650,NaN,NaN,17,NaN,71.0,NaN,88
9616,NaN,NaN,21,NaN,31.0,NaN,52
10464,0.0,0.0,16,NaN,19.0,NaN,35
10680,NaN,NaN,17,NaN,60.0,NaN,77
10910,0.0,0.0,14,NaN,27.0,NaN,41
11718,NaN,NaN,18,NaN,37.0,NaN,55
12369,NaN,NaN,17,NaN,58.0,NaN,75
12859,NaN,NaN,30,NaN,95.0,NaN,125
13449,NaN,NaN,20,NaN,140.0,NaN,160
13899,0.0,0.0,11,NaN,11.0,NaN,22
14740,0.0,0.0,11,NaN,50.0,NaN,61
14867,0.0,NaN,11,NaN,33.0,NaN,44
15363,NaN,NaN,15,NaN,86.0,13.0,114
15941,NaN,NaN,20,NaN,44.0,NaN,64
15955,NaN,NaN,24,NaN,90.0,NaN,114
16361,NaN,NaN,22,NaN,32.0,NaN,54
17603,0.0,0.0,11,NaN,25.0,NaN,36
17675,NaN,NaN,13,NaN,24.0,NaN,37
18094,NaN,NaN,16,NaN,57.0,NaN,73
18114,NaN,NaN,16,NaN,236.0,NaN,252
18311,0.0,0.0,12,NaN,71.0,NaN,83
19654,NaN,0.0,13,NaN,18.0,NaN,31
19672,NaN,NaN,13,NaN,64.0,NaN,77
20857,NaN,NaN,14,NaN,28.0,NaN,42
25042,0.0,0.0,11,NaN,57.0,13.0,81
27683,0.0,NaN,13,NaN,19.0,NaN,32
27881,0.0,0.0,13,NaN,38.0,NaN,51
28517,NaN,NaN,25,NaN,111.0,NaN,136
29320,0.0,0.0,14,NaN,24.0,NaN,38
30298,NaN,NaN,13,NaN,48.0,NaN,61
30803,0.0,0.0,12,NaN,40.0,0.0,52
30904,0.0,0.0,13,NaN,13.0,NaN,26
31477,NaN,NaN,30,NaN,72.0,NaN,102
31608,NaN,NaN,27,NaN,146.0,NaN,173
31684,NaN,NaN,16,NaN,68.0,NaN,84
31799,NaN,NaN,13,NaN,38.0,NaN,51
31992,NaN,NaN,14,NaN,41.0,NaN,55
32133,0.0,0.0,15,NaN,76.0,NaN,91
33342,NaN,NaN,55,NaN,105.0,NaN,160
33557,0.0,0.0,12,NaN,14.0,NaN,26
33589,NaN,0.0,13,NaN,45.0,NaN,58
33734,0.0,0.0,11,NaN,70.0,NaN,81
34460,NaN,NaN,19,NaN,43.0,NaN,62
34655,0.0,0.0,11,NaN,34.0,NaN,45
37999,0.0,NaN,54,NaN,34.0,NaN,88
38365,NaN,NaN,19,NaN,46.0,NaN,65
39448,NaN,NaN,18,NaN,20.0,NaN,38
39910,NaN,NaN,28,NaN,55.0,NaN,83
41011,NaN,NaN,26,NaN,35.0,NaN,61
41413,NaN,0.0,15,NaN,58.0,NaN,73
41448,NaN,NaN,57,NaN,57.0,NaN,114
41702,0.0,NaN,11,NaN,50.0,0.0,61
42410,NaN,NaN,16,NaN,69.0,NaN,85
42560,0.0,0.0,12,NaN,42.0,NaN,54
42748,NaN,NaN,38,NaN,353.0,NaN,391
42946,0.0,NaN,18,NaN,31.0,34.0,83
42947,NaN,NaN,22,NaN,73.0,NaN,95
43163,NaN,NaN,17,NaN,36.0,NaN,53
43548,NaN,0.0,15,NaN,74.0,NaN,89
43755,NaN,NaN,29,NaN,35.0,NaN,64
43938,NaN,NaN,30,NaN,77.0,NaN,107
44071,0.0,0.0,18,NaN,225.0,34.0,277
44728,NaN,NaN,19,NaN,89.0,NaN,108
45160,NaN,NaN,20,NaN,38.0,NaN,58
48331,0.0,NaN,13,NaN,56.0,NaN,69
49417,NaN,NaN,14,NaN,17.0,NaN,31
50289,NaN,NaN,65,NaN,78.0,NaN,143
50573,NaN,NaN,13,NaN,73.0,NaN,86
50874,0.0,0.0,11,NaN,18.0,NaN,29
51340,0.0,0.0,11,NaN,11.0,NaN,22
52090,NaN,NaN,17,NaN,38.0,NaN,55
53261,NaN,NaN,14,NaN,17.0,24.0,55
53652,NaN,NaN,13,NaN,65.0,NaN,78
53659,NaN,NaN,21,NaN,26.0,NaN,47
54098,0.0,0.0,14,NaN,32.0,NaN,46
54370,0.0,NaN,18,NaN,156.0,NaN,174
54548,0.0,0.0,15,NaN,29.0,NaN,44
54569,NaN,NaN,24,NaN,30.0,NaN,54
54574,0.0,NaN,14,NaN,74.0,NaN,88
54626,NaN,NaN,23,NaN,52.0,NaN,75
55171,0.0,NaN,14,NaN,18.0,NaN,32
55503,0.0,NaN,13,NaN,19.0,NaN,32
55606,NaN,NaN,21,NaN,41.0,NaN,62
55870,NaN,NaN,24,NaN,26.0,NaN,50
57197,NaN,NaN,16,NaN,40.0,NaN,56
57550,NaN,NaN,58,NaN,64.0,NaN,122
57899,NaN,NaN,21,NaN,93.0,NaN,114
59263,NaN,NaN,14,NaN,24.0,NaN,38
59297,NaN,NaN,17,NaN,33.0,NaN,50

Again, not sure why some are NaN and others are 0.
Also, not sure why some are filled and others are NaN.

It might help to do the MERGE with Census and see how the racial demographics are of these zip codes. 

I will mark ZERO for these 10,000 columns but add another column, marking those columns where I impute ZERO Black patients that I imputed them.

In [43]:
mental_med['imputed_zero'] = 0

In [44]:
mask = (mental_med['Number of American Indian/Alaska Native Beneficiaries'].isnull() |\
    mental_med['Number of Asian Pacific Islander Beneficiaries'].isnull() |\
    mental_med['Number of Black or African American Beneficiaries'].isnull() |\
    mental_med['Number of Hispanic Beneficiaries'].isnull() 
    ) &\
        mental_med['Number of Non-Hispanic White Beneficiaries'].notnull()
mental_med[mask][race_cols]

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
457,NaN,NaN,20,NaN,19.0,NaN
595,0.0,0.0,11,NaN,22.0,NaN
1566,NaN,NaN,12,17.0,241.0,NaN
2050,NaN,NaN,14,NaN,83.0,NaN
2074,NaN,NaN,35,NaN,43.0,NaN
...,...,...,...,...,...,...
1120871,NaN,NaN,23,NaN,49.0,NaN
1121021,NaN,0.0,13,NaN,60.0,NaN
1121088,NaN,0.0,13,NaN,71.0,26.0
1121114,NaN,NaN,21,40.0,628.0,119.0
1121194,NaN,NaN,20,47.0,180.0,NaN

In [45]:
idx = mental_med[mask].index

In [46]:
mental_med.loc[idx,'Number of Hispanic Beneficiaries'] = mental_med.loc[idx,'Number of Hispanic Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of American Indian/Alaska Native Beneficiaries'] =mental_med.loc[idx,'Number of American Indian/Alaska Native Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of Asian Pacific Islander Beneficiaries'] = mental_med.loc[idx,'Number of Asian Pacific Islander Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of Black or African American Beneficiaries'] = mental_med.loc[idx,'Number of Black or African American Beneficiaries'].fillna(0)

Now how many null values for Number of Black Beneficiaries?

In [47]:
mental_med['Number of Black or African American Beneficiaries'].isnull().sum()

34209

Seeing how many Latinos not null when Black people are null

In [48]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'].isnull()
][race_cols].join(
    mental_med['Number of Unique Beneficiaries']).sort_values(
        'Number of Hispanic Beneficiaries', ascending=False).head(300)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
711864,NaN,NaN,77,NaN,NaN,401.0,478
818942,NaN,NaN,131,NaN,NaN,385.0,516
173956,NaN,NaN,117,NaN,NaN,360.0,477
550111,NaN,NaN,36,NaN,NaN,267.0,303
148783,NaN,NaN,52,NaN,NaN,261.0,313
...,...,...,...,...,...,...,...
165841,0.0,0.0,14,NaN,NaN,15.0,29
559516,0.0,0.0,13,NaN,NaN,15.0,28
323310,0.0,NaN,13,NaN,NaN,15.0,28
144211,NaN,NaN,13,NaN,NaN,15.0,28
287401,NaN,NaN,23,NaN,NaN,15.0,38

I made a percent_race_unknown col for each row with null values for Black beneficiaries.

18,477 entries are 100% unknown (no number listed for any race).

The total number of null entries for Black beneficiaries is 18791, so there's not much guessing I can do to mitigate this.

In [49]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries'].isnull()]

temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100

temp.percent_race_unknown.value_counts(
    ).reset_index(
        ).rename(columns={'index':'percent_unknown',
                          'percent_race_unknown':'number_of_entries'}
                                ).sort_values(
                                    'percent_unknown', ascending=False).head(2000)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     percent_unknown  number_of_entries
0         100.000000              33818
145        66.666667                  1
146        61.290323                  1
50         61.111111                  2
247        60.606061                  1
..               ...                ...
123         7.352941                  1
163         7.339450                  1
124         5.934718                  1
84          5.763689                  1
289         4.074074                  1

[290 rows x 2 columns]

There are no null values in the column "Number of Beneficiaries With Race Not Elsewhere Classified" since I put the remainder of "Number of Unique Beneficiaries" with no race in that column.

Here, I fill all the rest of the null values in Race columns with "Unknown." I may be able to use these columns for other investigations, but I won't be able to include them in visualizing or modeling race. Note that some columns actually list 0 for some races but NaN for the others. The 0 is useful, but without any non-zero values in any other race columns, does not tell me much about the races of people seen by that doctor.

In [50]:
temp[temp.percent_race_unknown == 100][race_cols].head(2)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
12,NaN,NaN,15,NaN,NaN,NaN
19,NaN,NaN,34,NaN,NaN,NaN

In [51]:
#Indexes of all rows with 100% race unknown
idx = temp[temp.percent_race_unknown == 100].index

mental_med.loc[idx, race_cols] = mental_med.loc[idx, race_cols].fillna('unknown')

CHECKPOINT, MENTAL HEALTH PROVIDERS WITH NULLS FILLED OR AS 'UNKNOWN'

In [52]:
checkpoint2_df = mental_med.copy()

#NEW DFs, one with 19,000 entries and races filled or imputed 
#and the other with 18,000 and races all or mostly 'unknown'

race_known = mental_med.drop(index=idx)
race_unknown = mental_med.loc[idx]


# LEFT OFF HERE

##### Aggregating by Zip Code

In [53]:
race_known['NPPES Provider Zip Code'].nunique()

8809

In [54]:
race_known['Total Medicare Allowed Amount']

29          11944.65
457          4117.68
595         34345.88
638          7747.17
648          5219.09
             ...
1120871     28587.09
1121021     29301.88
1121088     47686.41
1121114    196485.22
1121194     36485.26
Name: Total Medicare Allowed Amount, Length: 26070, dtype: float64

In [55]:
race_known.columns

Index(['NPI', 'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'NPPES Provider Zip Code', 'Provider RUCA',
       'State Code of the Provider', 'NPPES Provider Country',
       'Provider Type of the Provider', 'Medicare Participation Indicator',
       'Number of HCPCS', 'Number of Services',
       'Number of Unique Beneficiaries', 'Total Submitted Charge Amount',
       'Total Medicare Allowed Amount', 'Total Medicare Payment Amount',
       'Total Medicare Standardized Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Medicare Beneficiaries With Drug Services',
       'Total Drug Submitted Charge Amount',
       'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount',
       'Total Drug Medicare Standardized Payment Amount',
       'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Medicare Beneficiaries With Medical Services',
       'Total Medical Submitted Charge Amount',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Total Medical Medicare Standardized Payment Amount',
       'Average Age of Beneficiaries', 'Number of Beneficiaries Age Less 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries', 'sum_of_races',
       'sum_matches_beneficiaries', 'imputed_zero'],
      dtype='object')

In [56]:
race_known['NPPES Provider Zip Code'].isnull().sum()

0

WHILE TRYING TO GROUPBY ZIPCODE AND AGGREGATE IMPORTANT COLUMNS, I REALIZED THAT SOME NUMERICAL COLUMNS ARE LISTED AS OBJECTS

In [57]:
race_known.select_dtypes('object').columns

Index(['NPI', 'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'NPPES Provider Zip Code', 'State Code of the Provider',
       'NPPES Provider Country', 'Provider Type of the Provider',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Unique Beneficiaries', 'Drug Suppress Indicator',
       'Medical Suppress Indicator', 'Average Age of Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified'],
      dtype='object')

In [58]:
print(race_known.shape[0])
print((race_known.sum_of_races == race_known['Number of Unique Beneficiaries'].astype('int')).sum())

26070
5514

I have to recalculate 'sum_of_race' column to show the change I made to the 'race not listed' column.

In [59]:
series = pd.Series(
    (race_known['Number of American Indian/Alaska Native Beneficiaries'].fillna(0).astype('int')+\
   race_known['Number of Asian Pacific Islander Beneficiaries'].fillna(0).astype('int')+\
   race_known['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0).astype('int')+\
   race_known['Number of Black or African American Beneficiaries'].fillna(0)+\
   race_known['Number of Non-Hispanic White Beneficiaries'].fillna(0)+\
   race_known['Number of Hispanic Beneficiaries'].fillna(0)
    )
)

race_known['sum_of_races'] = series

In [60]:
print(race_known.shape[0])
print((race_known.sum_of_races == race_known['Number of Unique Beneficiaries'].astype('int')).sum())

26070
26070

In [61]:
race_known['Average Age of Beneficiaries'].unique()

array([61, 48, 66, 51, 52, 55, 60, 80, 50, 69, 75, 59, 65, 70, 77, 62, 49,
       72, 47, 74, 57, 63, 53, 56, 79, 81, 68, 58, 73, 84, 46, 45, 71, 78,
       76, 43, 64, 67, 83, 39, 54, 85, 44, 82, 88, 91, 87, 86, 89, 38, 42,
       41, 40, 33, 37, 35, 90, 24, 34, 32, 31, 26, 27, 28, 36, 25, 30],
      dtype=object)

In [62]:
race_known['Number of Unique Beneficiaries']=race_known['Number of Unique Beneficiaries'].astype('int')
race_known['Average Age of Beneficiaries'] =race_known['Average Age of Beneficiaries'].astype('int')

# PICKING UP HERE

In [63]:
mental_med.drop(index = (mental_med[mental_med['NPPES Provider Country'] != 'US']).index, inplace=True)
mental_med['NPPES Provider Zip Code']

12         55104
19          4276
29         48060
159        27540
395        30075
           ...
1121231    10028
1121236    55416
1121256    28144
1121280    99508
1121441    34698
Name: NPPES Provider Zip Code, Length: 59874, dtype: object

In [64]:
mental_med['five_dig_zip'] = \
    mental_med['NPPES Provider Zip Code'
         ].astype('str'
                 ).apply(lambda x: x[:5]
                        ).apply(lambda x:int(float(x))
                                ).map('{:05}'.format)
mental_med.groupby('five_dig_zip'
                    )['NPI'].count(
                        ).reset_index(
                            ).five_dig_zip.nunique()

9018

In [65]:
mental_med['unknown_black_ben']=0

mask = mental_med['Number of Black or African American Beneficiaries'
              ]=='unknown'
idx = mental_med[mask].index

mental_med.loc[idx, 'unknown_black_ben'] = 1

(mental_med.groupby('five_dig_zip'
                  )['unknown_black_ben'
                       ].sum() == 0).sum()

1497

In [66]:
mental_med['unknown_white_ben']=0

mask = mental_med['Number of Non-Hispanic White Beneficiaries'
              ]=='unknown'
idx = mental_med[mask].index

mental_med.loc[idx, 'unknown_white_ben'] = 1

(mental_med.groupby('five_dig_zip'
                  )['unknown_white_ben'
                       ].sum() == 0).sum()

1497

In [67]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'
              ]=='unknown'
][race_cols]

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
12,unknown,unknown,15,unknown,unknown,unknown
19,unknown,unknown,34,unknown,unknown,unknown
159,unknown,unknown,19,unknown,unknown,unknown
395,unknown,unknown,18,unknown,unknown,unknown
410,unknown,unknown,90,unknown,unknown,unknown
...,...,...,...,...,...,...
1121231,unknown,unknown,29,unknown,unknown,unknown
1121236,unknown,unknown,92,unknown,unknown,unknown
1121256,unknown,unknown,37,unknown,unknown,unknown
1121280,unknown,unknown,33,unknown,unknown,unknown
1121441,unknown,unknown,25,unknown,unknown,unknown

How is Census DF split up on zip codes? Does it aggregate these five dig zips or separate them?

# Census DF

In [68]:
census = pd.read_csv('../data/raw/bq-results-20201218-132013-8keivq3ncjn2.csv')

In [69]:
census.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
0,87537,2014-01-01,2510,856,1283,1227,42.1,58,75,87,...,NaN,NaN,304,171,80,593,20,NaN,NaN,NaN
1,87017,2014-01-01,346,112,150,196,50.9,0,0,12,...,NaN,NaN,0,27,15,96,40,NaN,NaN,NaN
2,87528,2014-01-01,3505,727,1758,1747,27.9,260,194,159,...,NaN,NaN,293,266,298,1237,138,NaN,NaN,NaN
3,87533,2014-01-01,133,58,49,84,25.8,0,12,8,...,NaN,NaN,24,8,7,58,3,NaN,NaN,NaN
4,87511,2014-01-01,2896,787,1177,1719,36.0,142,63,44,...,NaN,NaN,263,107,163,1008,279,NaN,NaN,NaN

In [70]:
census.geo_id.shape, census.geo_id.nunique()

((33120,), 33120)

In [71]:
census[census.geo_id == 99701]

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
4250,99701,2014-01-01,17510,6924,8941,8569,32.5,650,389,538,...,2444.0,1812.0,756,907,657,4055,1233,NaN,NaN,NaN