# Importing Modules and Checking Directory

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
pd.__version__

'1.1.5'

In [3]:
os.getcwd()

'/Users/Livi/Projects/Black_mental_health/notebooks/Data_wrangling'

# Uploading Data

In [4]:
med = pd.read_csv("../../data/processed/final2014MEDICARE.csv", index_col=0)

In [5]:
med.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980332 entries, 0 to 980331
Data columns (total 22 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   npi                                  980332 non-null  int64
 1   entity_code                          980332 non-null  object
 2   full_zip                             980332 non-null  int64
 3   state                                980332 non-null  object
 4   country                              980332 non-null  object
 5   provider_type                        980332 non-null  object
 6   medicare_participation_indicator     980332 non-null  object
 7   number_of_hcpcs                      980332 non-null  int64
 8   number_of_services                   980332 non-null  float64
 9   total_beneficiaries                  980332 non-null  int64
 10  total_submitted_charges              980332 non-null  float64
 11  total_allowed_payment                980332 non-null  float64
 12  total_medicare_payment               980332 non-null  float64
 13  total_medicare_standardized_payment  980332 non-null  float64
 14  avg_beneficiary_age                  980332 non-null  int64
 15  avg_hcc_risk_score                   980332 non-null  float64
 16  services_per_capita                  980332 non-null  float64
 17  allowed_payment_per_capita           980332 non-null  float64
 18  medicare_payment_per_capita          980332 non-null  float64
 19  submitted_charges_per_capita         980332 non-null  float64
 20  region                               980332 non-null  object
 21  subregion                            980332 non-null  object
dtypes: float64(10), int64(5), object(7)
memory usage: 172.0+ MB

In [6]:
med.full_zip = med.full_zip.apply(lambda x: str(x).zfill(5))
med.npi = med.npi.astype('str')

In [7]:
med.head()

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_medicare_payment,total_medicare_standardized_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion
0,1659374411,I,54601,WI,US,Allergy/Immunology,Y,8,42.0,14,...,1470.57,1550.48,59,1.1238,3.00,154.31,105.04,348.93,Midwest,East North Central
1,1487623633,I,53717,WI,US,Nurse Practitioner,Y,7,38.0,26,...,1002.52,1266.85,70,1.0511,1.46,55.26,38.56,216.31,Midwest,East North Central
2,1598700387,I,53132,WI,US,Rheumatology,Y,8,89.0,13,...,2726.29,2798.53,69,1.0231,6.85,274.97,209.71,719.36,Midwest,East North Central
3,1346490323,I,54935,WI,US,Obstetrics/Gynecology,Y,19,801.0,22,...,2670.36,2698.17,55,1.1173,36.41,163.36,121.38,584.68,Midwest,East North Central
4,1861570996,I,54301,WI,US,Obstetrics/Gynecology,Y,32,542.0,35,...,1980.31,2060.33,64,0.4507,15.49,73.11,56.58,208.86,Midwest,East North Central

Checkpoint 1

In [8]:
checkpoint1 = med.copy()

In [9]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

In [10]:
census = pd.read_csv('../../data/raw/2014acs.csv')

In [11]:
census.head()

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
0,20899,131,0,1985.0,0,39,8,41,0,34,...,32,8,0,131,17,9,24,0,23,20102014
1,70803,102,0,1996.0,27,44,0,0,0,11,...,955,31,4,1010,1005,5,0,0,0,20102014
2,40041,142,0,1939.0,0,44,66,0,11,10,...,277,0,0,277,40,10,0,196,24,20102014
3,95646,23,0,1991.0,5,12,0,0,0,0,...,77,16,10,98,87,8,0,0,3,20102014
4,61112,100,0,2001.0,9,56,9,0,0,0,...,100,0,0,100,10,0,0,81,9,20102014

checkpoint2

In [12]:
checkpoint2 = census.copy()

In [13]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,20157,16959,12963
percent_income_spent_on_rent,float64,27690,399,5430
median_rent,float64,27725,1703,5395
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,27738,1678,5382
owner_occupied_housing_units_upper_value_quartile,float64,31607,5870,1513
owner_occupied_housing_units_lower_value_quartile,float64,31607,4091,1513
owner_occupied_housing_units_median_value,float64,31607,4992,1513
median_income,float64,32008,19805,1112
median_year_structure_built,float64,32204,71,916
gini_index,float64,32255,4097,865
income_per_capita,float64,32571,20265,549
median_age,float64,32614,652,506
some_college_and_associates_degree,float64,32989,7440,131
not_us_citizen_pop,float64,32989,4186,131
different_house_year_ago_same_city,float64,32989,3668,131
population_1_year_and_over,float64,32989,15365,131
less_than_high_school_graduate,float64,32989,4646,131
different_house_year_ago_different_city,float64,32989,4819,131
graduate_professional_degree,float64,32989,4404,131
bachelors_degree_2,float64,32989,5885,131
high_school_including_ged,float64,32989,7137,131
commuters_drove_alone,int64,33120,10011,0
commuters_by_carpool,int64,33120,2874,0
commuters_by_subway_or_elevated,int64,33120,880,0
employed_finance_insurance_real_estate,int64,33120,2361,0
employed_arts_entertainment_recreation_accommodation_food,int64,33120,2944,0
employed_construction,int64,33120,2051,0
employed_education_health_social,int64,33120,5226,0
commuters_by_car_truck_van,int64,33120,10614,0
employed_information,int64,33120,1088,0

Looking to see if any Medicare zip codes are missing from Census DF

In [14]:
census.geo_id = census.geo_id.astype('str').apply(lambda x: x.zfill(5))

In [15]:
med[med.full_zip.isin(census.geo_id)].shape, med[~med.full_zip.isin(census.geo_id)].shape

((952799, 22), (27533, 22))

In [17]:
pd.options.display.max_rows = 120
med[
    ~med.full_zip.isin(census.geo_id)].head()

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_medicare_payment,total_medicare_standardized_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion
102,1457468068,I,54308,WI,US,Obstetrics/Gynecology,Y,27,216.0,22,...,6398.57,6913.09,58,1.2939,9.82,389.51,290.84,2204.18,Midwest,East North Central
170,1952418824,I,54308,WI,US,Obstetrics/Gynecology,Y,32,100.0,37,...,7029.97,7454.35,53,0.8637,2.70,254.63,190.00,2230.47,Midwest,East North Central
412,1881701316,I,54308,WI,US,Obstetrics/Gynecology,Y,29,669.0,21,...,2928.44,4234.50,51,0.7052,31.86,225.83,139.45,1000.14,Midwest,East North Central
497,1588779581,I,54308,WI,US,Obstetrics/Gynecology,Y,35,101.0,46,...,7384.61,7777.08,56,0.7763,2.20,207.06,160.54,3457.57,Midwest,East North Central
1024,1932118601,I,54308,WI,US,Obstetrics/Gynecology,Y,24,807.0,23,...,4811.65,5089.04,57,0.7138,35.09,268.96,209.20,1204.26,Midwest,East North Central

##### Many are PO Boxes. Some are hospitals with their own zip codes. I want to drop these rows from Med, looking at how much of my data this will remove:

In [18]:
print(' Total providers in Med df:',med.shape[0],
     '\n Total beneficiaries in Med df:', med.total_beneficiaries.sum(),
     '\n Total providers whose zips not in Census:', 
                          med[~med.full_zip.isin(census.geo_id)].shape[0],
     '\n Total beneficiaries in Med in zips not in Census:', 
                          med[~med.full_zip.isin(census.geo_id)].total_beneficiaries.sum(),
     '\n Percent providers with missing zips of all providers:',
                          round(med[~med.full_zip.isin(census.geo_id)].shape[0] \
                          / med.shape[0] * 100, 2),  '%',
     '\n Percent beneficiaries in missing zips of all beneficiaries:',
                          round(med[~med.full_zip.isin(census.geo_id)].total_beneficiaries.sum() \
                          / med.total_beneficiaries.sum() * 100,2),  '%')

 Total providers in Med df: 980332
 Total beneficiaries in Med df: 362857029
 Total providers whose zips not in Census: 27533
 Total beneficiaries in Med in zips not in Census: 9151786
 Percent providers with missing zips of all providers: 2.81 %
 Percent beneficiaries in missing zips of all beneficiaries: 2.52 %

In [19]:
idx = med[~med['full_zip'].isin(census.geo_id)].index
med.drop(index = idx, inplace=True)

Dropping Rows from Census that don't appear in Medicare DF

In [20]:
print(census.shape)
idx = census[~census.geo_id.isin(med.full_zip)].index
census.drop(index = idx, inplace = True)
print(census.shape)

(33120, 252)
(19359, 252)

In [21]:
med.full_zip.nunique()

19359

Examining Nulls

In [22]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,16289,14664,3070
percent_income_spent_on_rent,float64,18769,388,590
median_rent,float64,18770,1647,589
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,18771,1601,588
owner_occupied_housing_units_upper_value_quartile,float64,18995,5273,364
owner_occupied_housing_units_lower_value_quartile,float64,18995,3877,364
owner_occupied_housing_units_median_value,float64,18995,4577,364
median_year_structure_built,float64,19125,70,234
median_income,float64,19126,15408,233
gini_index,float64,19139,2853,220
income_per_capita,float64,19286,14440,73
median_age,float64,19288,513,71
some_college_and_associates_degree,float64,19356,7415,3
not_us_citizen_pop,float64,19356,4163,3
different_house_year_ago_same_city,float64,19356,3664,3
population_1_year_and_over,float64,19356,14367,3
less_than_high_school_graduate,float64,19356,4635,3
different_house_year_ago_different_city,float64,19356,4812,3
graduate_professional_degree,float64,19356,4403,3
bachelors_degree_2,float64,19356,5882,3
high_school_including_ged,float64,19356,7117,3
commuters_drove_alone,int64,19359,9889,0
commuters_by_carpool,int64,19359,2868,0
commuters_by_subway_or_elevated,int64,19359,875,0
employed_finance_insurance_real_estate,int64,19359,2356,0
employed_arts_entertainment_recreation_accommodation_food,int64,19359,2941,0
employed_construction,int64,19359,2049,0
employed_education_health_social,int64,19359,5203,0
commuters_by_car_truck_van,int64,19359,10434,0
employed_information,int64,19359,1086,0

Some of these columns are irrelevant or are redundant.

In [23]:
#there are other cols that speak to Commute to work
cols_to_drop = ['aggregate_travel_time_to_work','owner_occupied_housing_units_lower_value_quartile',
'owner_occupied_housing_units_median_value','owner_occupied_housing_units_upper_value_quartile',
'renter_occupied_housing_units_paying_cash_median_gross_rent','median_year_structure_built']

census.drop(columns = cols_to_drop, inplace = True)

In [24]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
percent_income_spent_on_rent,float64,18769,388,590
median_rent,float64,18770,1647,589
median_income,float64,19126,15408,233
gini_index,float64,19139,2853,220
income_per_capita,float64,19286,14440,73
median_age,float64,19288,513,71
less_than_high_school_graduate,float64,19356,4635,3
different_house_year_ago_same_city,float64,19356,3664,3
different_house_year_ago_different_city,float64,19356,4812,3
not_us_citizen_pop,float64,19356,4163,3
bachelors_degree_2,float64,19356,5882,3
high_school_including_ged,float64,19356,7117,3
population_1_year_and_over,float64,19356,14367,3
some_college_and_associates_degree,float64,19356,7415,3
graduate_professional_degree,float64,19356,4403,3
civilian_labor_force,int64,19359,11567,0
commuters_by_subway_or_elevated,int64,19359,875,0
commuters_drove_alone,int64,19359,9889,0
black_including_hispanic,int64,19359,5296,0
white_including_hispanic,int64,19359,13366,0
female_85_and_over,int64,19359,1089,0
employed_agriculture_forestry_fishing_hunting_mining,int64,19359,991,0
employed_arts_entertainment_recreation_accommodation_food,int64,19359,2941,0
employed_construction,int64,19359,2049,0
employed_education_health_social,int64,19359,5203,0
employed_finance_insurance_real_estate,int64,19359,2356,0
commuters_by_carpool,int64,19359,2868,0
employed_information,int64,19359,1086,0
employed_other_services_not_public_admin,int64,19359,1742,0
employed_public_administration,int64,19359,1848,0

In [30]:
# Let's look at rows in Medicare with zips that have nulls in Census.graduate_professional_degree
null_zips = census[census.graduate_professional_degree.isnull()].geo_id
med[med.full_zip.isin(null_zips)]

Empty DataFrame
Columns: [npi, entity_code, full_zip, state, country, provider_type, medicare_participation_indicator, number_of_hcpcs, number_of_services, total_beneficiaries, total_submitted_charges, total_allowed_payment, total_medicare_payment, total_medicare_standardized_payment, avg_beneficiary_age, avg_hcc_risk_score, services_per_capita, allowed_payment_per_capita, medicare_payment_per_capita, submitted_charges_per_capita, region, subregion]
Index: []

[0 rows x 22 columns]

In [28]:
# The second row has a typo in Full_zip, should be 60617
med.loc[
    med[med.npi == '1750491288'].index, 'full_zip'] = '60617'

#Droppping other two rows from DF
null_zips = census[census.graduate_professional_degree.isnull()].geo_id
idx = med[med.full_zip.isin(null_zips)].index
med.drop(index = idx, inplace=True)

In [29]:
#Dropping these zips from Census 
census = census[census.graduate_professional_degree.notnull()]

##### REEXAMINING CENSUS NULLS

In [31]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
percent_income_spent_on_rent,float64,18767,388,589
median_rent,float64,18768,1647,588
median_income,float64,19124,15406,232
gini_index,float64,19137,2853,219
income_per_capita,float64,19283,14438,73
median_age,float64,19285,513,71
employed_transportation_warehousing_utilities,int64,19356,1803,0
bachelors_degree_or_higher_25_64,int64,19356,6842,0
children,int64,19356,8166,0
graduate_professional_degree,float64,19356,4403,0
four_more_cars,int64,19356,1577,0
children_in_single_female_hh,int64,19356,3814,0
commuters_by_bus,int64,19356,1627,0
commuters_by_car_truck_van,int64,19356,10434,0
commuters_by_carpool,int64,19356,2868,0
commuters_by_subway_or_elevated,int64,19356,875,0
commuters_drove_alone,int64,19356,9888,0
different_house_year_ago_different_city,float64,19356,4812,0
employed_wholesale_trade,int64,19356,1193,0
different_house_year_ago_same_city,float64,19356,3664,0
employed_arts_entertainment_recreation_accommodation_food,int64,19356,2941,0
female_female_households,int64,19356,201,0
employed_construction,int64,19356,2049,0
employed_education_health_social,int64,19356,5203,0
employed_finance_insurance_real_estate,int64,19356,2356,0
employed_information,int64,19356,1086,0
employed_manufacturing,int64,19356,3025,0
employed_other_services_not_public_admin,int64,19356,1742,0
employed_public_administration,int64,19356,1848,0
employed_retail_trade,int64,19356,3222,0

The remaining columns with nulls are important, but I know that other columns in the DF, have some information related to rent, income, and age.

In [32]:
census.columns[census.columns.str.contains('_rent$|^rent_|_rent_', regex=True)]

Index(['rent_burden_not_computed', 'rent_over_50_percent',
       'rent_40_to_50_percent', 'rent_35_to_40_percent',
       'rent_30_to_35_percent', 'rent_25_to_30_percent',
       'rent_20_to_25_percent', 'rent_15_to_20_percent',
       'rent_10_to_15_percent', 'rent_under_10_percent',
       'vacant_housing_units_for_rent', 'median_rent',
       'percent_income_spent_on_rent'],
      dtype='object')

In [33]:
census.columns[census.columns.str.contains('income')]

Index(['median_income', 'income_per_capita', 'percent_income_spent_on_rent',
       'income_less_10000', 'income_10000_14999', 'income_15000_19999',
       'income_20000_24999', 'income_25000_29999', 'income_30000_34999',
       'income_35000_39999', 'income_40000_44999', 'income_45000_49999',
       'income_50000_59999', 'income_60000_74999', 'income_75000_99999',
       'income_100000_124999', 'income_125000_149999', 'income_150000_199999',
       'income_200000_or_more', 'households_retirement_income'],
      dtype='object')

In [41]:
census.columns[census.columns.str.contains('(?=.*male)(?=.*_to_)', regex=True)]

Index(['male_5_to_9', 'male_10_to_14', 'male_15_to_17', 'male_18_to_19',
       'male_22_to_24', 'male_25_to_29', 'male_30_to_34', 'male_35_to_39',
       'male_40_to_44', 'male_45_to_49', 'male_50_to_54', 'male_55_to_59',
       'male_65_to_66', 'male_67_to_69', 'male_70_to_74', 'male_75_to_79',
       'male_80_to_84', 'female_5_to_9', 'female_10_to_14', 'female_15_to_17',
       'female_18_to_19', 'female_22_to_24', 'female_25_to_29',
       'female_30_to_34', 'female_35_to_39', 'female_40_to_44',
       'female_45_to_49', 'female_50_to_54', 'female_55_to_59',
       'female_60_to_61', 'female_62_to_64', 'female_65_to_66',
       'female_67_to_69', 'female_70_to_74', 'female_75_to_79',
       'female_80_to_84', 'male_45_to_64'],
      dtype='object')

In [42]:
info[info['null values']>0].index

Index(['median_age', 'median_income', 'income_per_capita', 'median_rent',
       'percent_income_spent_on_rent', 'gini_index'],
      dtype='object')

While these factors are probably very relevant to the number of providers in a zip code, the health risk score, and the use of different providers, it seems there are other features in Census DF that may also address income, rent, and age.

In [43]:
#dropping these cols with nulls
cols = info[info['null values']>0].index
census.drop(columns = cols, inplace=True)

# Checking Data Types

All columns in Census besides Geo_id should be 'int' or 'float.' I want to see what is listed as object.

In [44]:
census.select_dtypes('object').head(1)

  geo_id
1  70803

There's a column called do_date that includes the years used to make the estimate Census measures. I'm going to keep that last four digits which represent the year being estimated.

In [45]:
census.do_date = census.do_date.apply(lambda x: str(x)[-4:])
census.do_date = pd.to_datetime(census.do_date, format='%Y')
census.do_date

1       2014-01-01
3       2014-01-01
4       2014-01-01
7       2014-01-01
8       2014-01-01
           ...
33080   2014-01-01
33087   2014-01-01
33097   2014-01-01
33107   2014-01-01
33118   2014-01-01
Name: do_date, Length: 19356, dtype: datetime64[ns]

In [46]:
census.isnull().sum().sort_values()

geo_id                          0
children                        0
children_in_single_female_hh    0
commuters_by_bus                0
commuters_by_car_truck_van      0
                               ..
male_21                         0
male_22_to_24                   0
male_25_to_29                   0
pop_divorced                    0
do_date                         0
Length: 240, dtype: int64

In [47]:
med.to_csv('../../data/processed/final2014MEDICARE.csv')
census.to_csv('../../data/processed/final2014CENSUS.csv')