# Importing Modules and Checking Directory

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
pd.__version__

'1.1.5'

In [3]:
os.getcwd()

'/Users/Livi/Projects/Black_mental_health/notebooks/Data_wrangling'

# Uploading Data

In [4]:
med = pd.read_csv("../../data/processed/final2013MEDICARE.csv", index_col=0)

In [5]:
med.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 949955 entries, 0 to 949954
Data columns (total 21 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   npi                               949955 non-null  int64
 1   entity_code                       949955 non-null  object
 2   full_zip                          949955 non-null  int64
 3   state                             949955 non-null  object
 4   country                           949955 non-null  object
 5   provider_type                     949955 non-null  object
 6   medicare_participation_indicator  949955 non-null  object
 7   number_of_hcpcs                   949955 non-null  int64
 8   number_of_services                949955 non-null  int64
 9   total_beneficiaries               949955 non-null  int64
 10  total_submitted_charges           949955 non-null  float64
 11  total_allowed_payment             949955 non-null  float64
 12  total_medicare_payment            949955 non-null  float64
 13  avg_beneficiary_age               949955 non-null  int64
 14  avg_hcc_risk_score                949955 non-null  float64
 15  services_per_capita               949955 non-null  float64
 16  allowed_payment_per_capita        949955 non-null  float64
 17  medicare_payment_per_capita       949955 non-null  float64
 18  submitted_charges_per_capita      949955 non-null  float64
 19  region                            949955 non-null  object
 20  subregion                         949955 non-null  object
dtypes: float64(8), int64(6), object(7)
memory usage: 159.4+ MB

In [6]:
med.full_zip = med.full_zip.apply(lambda x: str(x).zfill(5))
med.npi = med.npi.astype('str')

In [7]:
med.head()

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_allowed_payment,total_medicare_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion
0,1003183823,I,48235,MI,US,Physician Assistant,Y,14,46,26,...,2320.28,1721.94,60,1.3464,1.77,89.24,66.23,155.46,Midwest,East North Central
1,1023192564,I,49770,MI,US,General Practice,Y,18,135,41,...,7435.61,3899.56,74,1.0309,3.29,181.36,95.11,229.24,Midwest,East North Central
2,1073556320,I,48503,MI,US,Occupational therapist,Y,2,13,12,...,846.68,667.53,61,1.5304,1.08,70.56,55.63,325.86,Midwest,East North Central
3,1083919666,I,48237,MI,US,Nurse Practitioner,Y,9,30,21,...,1570.54,1231.86,70,0.8738,1.43,74.79,58.66,76.66,Midwest,East North Central
4,1144322173,I,48439,MI,US,Physician Assistant,Y,7,36,26,...,1812.43,1422.64,68,1.2295,1.38,69.71,54.72,145.00,Midwest,East North Central

Checkpoint 1

In [8]:
checkpoint1 = med.copy()

In [9]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

In [11]:
census = pd.read_csv('../../data/raw/2013acs.csv')

In [12]:
census.head()

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
0,91046,118,29,1987.0,0,135,0,12,0,0,...,23,0,0,176,10,58,0,13,0,20092013
1,79916,0,62,1998.0,41,0,21,0,0,0,...,2201,445,97,2850,2081,643,13,0,113,20092013
2,14881,71,0,1987.0,0,0,18,0,0,19,...,71,0,0,71,18,0,0,36,17,20092013
3,20317,246,0,1951.0,0,117,33,20,0,11,...,355,0,0,355,54,80,13,94,91,20092013
4,28424,10,21,2002.0,0,13,0,6,0,0,...,55,0,0,51,21,10,6,9,5,20092013

checkpoint2

In [13]:
checkpoint2 = census.copy()

In [14]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,19753,16691,13367
percent_income_spent_on_rent,float64,27449,400,5671
median_rent,float64,27491,1695,5629
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,27503,1686,5617
owner_occupied_housing_units_upper_value_quartile,float64,31573,5923,1547
owner_occupied_housing_units_lower_value_quartile,float64,31573,4094,1547
owner_occupied_housing_units_median_value,float64,31573,5011,1547
median_income,float64,31985,19918,1135
median_year_structure_built,float64,32172,70,948
gini_index,float64,32242,4143,878
income_per_capita,float64,32546,20158,574
median_age,float64,32589,665,531
some_college_and_associates_degree,float64,32989,7383,131
not_us_citizen_pop,float64,32989,4223,131
different_house_year_ago_same_city,float64,32989,3689,131
population_1_year_and_over,float64,32989,15236,131
less_than_high_school_graduate,float64,32989,4657,131
different_house_year_ago_different_city,float64,32989,4809,131
graduate_professional_degree,float64,32989,4310,131
bachelors_degree_2,float64,32989,5797,131
high_school_including_ged,float64,32989,7096,131
commuters_drove_alone,int64,33120,10035,0
commuters_by_carpool,int64,33120,2846,0
commuters_by_subway_or_elevated,int64,33120,874,0
employed_finance_insurance_real_estate,int64,33120,2361,0
employed_arts_entertainment_recreation_accommodation_food,int64,33120,2871,0
employed_construction,int64,33120,2049,0
employed_education_health_social,int64,33120,5174,0
commuters_by_car_truck_van,int64,33120,10583,0
employed_information,int64,33120,1064,0

Looking to see if any Medicare zip codes are missing from Census DF

In [17]:
census.geo_id = census.geo_id.astype('str').apply(lambda x: x.zfill(5))

In [18]:
med[med.full_zip.isin(census.geo_id)].shape, med[~med.full_zip.isin(census.geo_id)].shape

((923247, 21), (26708, 21))

In [20]:
pd.options.display.max_rows = 120
med[
    ~med.full_zip.isin(census.geo_id)].head()

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_allowed_payment,total_medicare_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion
61,1003041971,I,48909,MI,US,Emergency Medicine,Y,28,418,376,...,50603.61,38933.63,70,2.0197,1.11,134.58,103.55,468.02,Midwest,East North Central
75,1003066218,I,48106,MI,US,Nurse Practitioner,Y,4,966,276,...,63881.60,50079.50,78,2.6862,3.50,231.46,181.45,478.77,Midwest,East North Central
160,1003816513,I,46509,MI,US,Physician Assistant,Y,42,411,68,...,12813.07,8754.69,67,0.8630,6.04,188.43,128.75,351.37,Midwest,East North Central
186,1003832908,I,49016,MI,US,Physician Assistant,Y,20,102,98,...,3840.33,3014.67,69,1.8044,1.04,39.19,30.76,190.02,Midwest,East North Central
419,1013007749,I,48670,MI,US,CRNA,Y,55,231,227,...,29635.60,22984.88,71,1.3190,1.02,130.55,101.25,687.35,Midwest,East North Central

##### Many are PO Boxes. Some are hospitals with their own zip codes. I want to drop these rows from Med, looking at how much of my data this will remove:

In [21]:
print(' Total providers in Med df:',med.shape[0],
     '\n Total beneficiaries in Med df:', med.total_beneficiaries.sum(),
     '\n Total providers whose zips not in Census:', 
                          med[~med.full_zip.isin(census.geo_id)].shape[0],
     '\n Total beneficiaries in Med in zips not in Census:', 
                          med[~med.full_zip.isin(census.geo_id)].total_beneficiaries.sum(),
     '\n Percent providers with missing zips of all providers:',
                          round(med[~med.full_zip.isin(census.geo_id)].shape[0] \
                          / med.shape[0] * 100, 2),  '%',
     '\n Percent beneficiaries in missing zips of all beneficiaries:',
                          round(med[~med.full_zip.isin(census.geo_id)].total_beneficiaries.sum() \
                          / med.total_beneficiaries.sum() * 100,2),  '%')

 Total providers in Med df: 949955
 Total beneficiaries in Med df: 358965885
 Total providers whose zips not in Census: 26708
 Total beneficiaries in Med in zips not in Census: 9114405
 Percent providers with missing zips of all providers: 2.81 %
 Percent beneficiaries in missing zips of all beneficiaries: 2.54 %

In [22]:
idx = med[~med['full_zip'].isin(census.geo_id)].index
med.drop(index = idx, inplace=True)

Dropping Rows from Census that don't appear in Medicare DF

In [23]:
print(census.shape)
idx = census[~census.geo_id.isin(med.full_zip)].index
census.drop(index = idx, inplace = True)
print(census.shape)

(33120, 252)
(19324, 252)

In [24]:
med.full_zip.nunique()

19324

Examining Nulls

In [25]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,16099,14479,3225
percent_income_spent_on_rent,float64,18711,388,613
median_rent,float64,18716,1636,608
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,18717,1608,607
owner_occupied_housing_units_upper_value_quartile,float64,18963,5289,361
owner_occupied_housing_units_lower_value_quartile,float64,18963,3866,361
owner_occupied_housing_units_median_value,float64,18963,4588,361
median_income,float64,19101,15492,223
median_year_structure_built,float64,19102,69,222
gini_index,float64,19123,2870,201
income_per_capita,float64,19254,14347,70
median_age,float64,19257,517,67
some_college_and_associates_degree,float64,19323,7360,1
not_us_citizen_pop,float64,19323,4207,1
different_house_year_ago_same_city,float64,19323,3684,1
population_1_year_and_over,float64,19323,14270,1
less_than_high_school_graduate,float64,19323,4644,1
different_house_year_ago_different_city,float64,19323,4800,1
graduate_professional_degree,float64,19323,4310,1
bachelors_degree_2,float64,19323,5796,1
high_school_including_ged,float64,19323,7071,1
commuters_drove_alone,int64,19324,9905,0
commuters_by_carpool,int64,19324,2837,0
commuters_by_subway_or_elevated,int64,19324,868,0
employed_finance_insurance_real_estate,int64,19324,2356,0
employed_arts_entertainment_recreation_accommodation_food,int64,19324,2866,0
employed_construction,int64,19324,2043,0
employed_education_health_social,int64,19324,5162,0
commuters_by_car_truck_van,int64,19324,10424,0
employed_information,int64,19324,1062,0

Some of these columns are irrelevant or are redundant.

In [26]:
#there are other cols that speak to Commute to work
cols_to_drop = ['aggregate_travel_time_to_work','owner_occupied_housing_units_lower_value_quartile',
'owner_occupied_housing_units_median_value','owner_occupied_housing_units_upper_value_quartile',
'renter_occupied_housing_units_paying_cash_median_gross_rent','median_year_structure_built']

census.drop(columns = cols_to_drop, inplace = True)

In [27]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
percent_income_spent_on_rent,float64,18711,388,613
median_rent,float64,18716,1636,608
median_income,float64,19101,15492,223
gini_index,float64,19123,2870,201
income_per_capita,float64,19254,14347,70
median_age,float64,19257,517,67
less_than_high_school_graduate,float64,19323,4644,1
different_house_year_ago_same_city,float64,19323,3684,1
different_house_year_ago_different_city,float64,19323,4800,1
not_us_citizen_pop,float64,19323,4207,1
bachelors_degree_2,float64,19323,5796,1
high_school_including_ged,float64,19323,7071,1
population_1_year_and_over,float64,19323,14270,1
some_college_and_associates_degree,float64,19323,7360,1
graduate_professional_degree,float64,19323,4310,1
civilian_labor_force,int64,19324,11597,0
commuters_by_subway_or_elevated,int64,19324,868,0
commuters_drove_alone,int64,19324,9905,0
black_including_hispanic,int64,19324,5253,0
white_including_hispanic,int64,19324,13331,0
female_85_and_over,int64,19324,1074,0
employed_agriculture_forestry_fishing_hunting_mining,int64,19324,963,0
employed_arts_entertainment_recreation_accommodation_food,int64,19324,2866,0
employed_construction,int64,19324,2043,0
employed_education_health_social,int64,19324,5162,0
employed_finance_insurance_real_estate,int64,19324,2356,0
commuters_by_carpool,int64,19324,2837,0
employed_information,int64,19324,1062,0
employed_other_services_not_public_admin,int64,19324,1734,0
employed_public_administration,int64,19324,1849,0

In [28]:
# Let's look at the rows with 1 nulls
null_zips = census[census.graduate_professional_degree.isnull()].geo_id
med[med.full_zip.isin(null_zips)]

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_allowed_payment,total_medicare_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion
520890,1750491288,I,00617,IL,US,Podiatry,Y,49,2998,1213,...,211016.48,157829.73,72,1.5817,2.47,173.96,130.12,292.4,Midwest,East North Central

In [29]:
# The row has a typo in Full_zip, should be 60617
med.loc[
    med[med.npi == '1750491288'].index, 'full_zip'] = '60617'

In [30]:
census = census[census.graduate_professional_degree.notnull()]

##### REEXAMINING CENSUS NULLS

In [31]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
percent_income_spent_on_rent,float64,18710,388,613
median_rent,float64,18715,1636,608
median_income,float64,19100,15491,223
gini_index,float64,19122,2870,201
income_per_capita,float64,19253,14346,70
median_age,float64,19256,517,67
employed_transportation_warehousing_utilities,int64,19323,1784,0
bachelors_degree_or_higher_25_64,int64,19323,6736,0
children,int64,19323,8181,0
graduate_professional_degree,float64,19323,4310,0
four_more_cars,int64,19323,1578,0
children_in_single_female_hh,int64,19323,3794,0
commuters_by_bus,int64,19323,1616,0
commuters_by_car_truck_van,int64,19323,10424,0
commuters_by_carpool,int64,19323,2837,0
commuters_by_subway_or_elevated,int64,19323,868,0
commuters_drove_alone,int64,19323,9905,0
different_house_year_ago_different_city,float64,19323,4800,0
employed_wholesale_trade,int64,19323,1171,0
different_house_year_ago_same_city,float64,19323,3684,0
employed_arts_entertainment_recreation_accommodation_food,int64,19323,2866,0
female_female_households,int64,19323,205,0
employed_construction,int64,19323,2043,0
employed_education_health_social,int64,19323,5162,0
employed_finance_insurance_real_estate,int64,19323,2356,0
employed_information,int64,19323,1062,0
employed_manufacturing,int64,19323,3007,0
employed_other_services_not_public_admin,int64,19323,1734,0
employed_public_administration,int64,19323,1849,0
employed_retail_trade,int64,19323,3194,0

The remaining columns with nulls are important, but I know that other columns in the DF, have some information related to rent, income, and age.

In [35]:
census.columns[census.columns.str.contains('_rent$|^rent_|_rent_', regex=True)]

Index(['rent_burden_not_computed', 'rent_over_50_percent',
       'rent_40_to_50_percent', 'rent_35_to_40_percent',
       'rent_30_to_35_percent', 'rent_25_to_30_percent',
       'rent_20_to_25_percent', 'rent_15_to_20_percent',
       'rent_10_to_15_percent', 'rent_under_10_percent',
       'vacant_housing_units_for_rent', 'median_rent',
       'percent_income_spent_on_rent'],
      dtype='object')

In [36]:
census.columns[census.columns.str.contains('income')]

Index(['median_income', 'income_per_capita', 'percent_income_spent_on_rent',
       'income_less_10000', 'income_10000_14999', 'income_15000_19999',
       'income_20000_24999', 'income_25000_29999', 'income_30000_34999',
       'income_35000_39999', 'income_40000_44999', 'income_45000_49999',
       'income_50000_59999', 'income_60000_74999', 'income_75000_99999',
       'income_100000_124999', 'income_125000_149999', 'income_150000_199999',
       'income_200000_or_more', 'households_retirement_income'],
      dtype='object')

In [37]:
census.columns[census.columns.str.contains('_to_')]

Index(['rent_40_to_50_percent', 'rent_35_to_40_percent',
       'rent_30_to_35_percent', 'rent_25_to_30_percent',
       'rent_20_to_25_percent', 'rent_15_to_20_percent',
       'rent_10_to_15_percent', 'dwellings_3_to_4_units',
       'dwellings_5_to_9_units', 'dwellings_10_to_19_units',
       'dwellings_20_to_49_units', 'housing_built_2000_to_2004', 'male_5_to_9',
       'male_10_to_14', 'male_15_to_17', 'male_18_to_19', 'male_22_to_24',
       'male_25_to_29', 'male_30_to_34', 'male_35_to_39', 'male_40_to_44',
       'male_45_to_49', 'male_50_to_54', 'male_55_to_59', 'male_65_to_66',
       'male_67_to_69', 'male_70_to_74', 'male_75_to_79', 'male_80_to_84',
       'female_5_to_9', 'female_10_to_14', 'female_15_to_17',
       'female_18_to_19', 'female_22_to_24', 'female_25_to_29',
       'female_30_to_34', 'female_35_to_39', 'female_40_to_44',
       'female_45_to_49', 'female_50_to_54', 'female_55_to_59',
       'female_60_to_61', 'female_62_to_64', 'female_65_to_66',
       'female_67_to_69', 'female_70_to_74', 'female_75_to_79',
       'female_80_to_84', 'in_grades_1_to_4', 'in_grades_5_to_8',
       'in_grades_9_to_12', 'male_45_to_64', 'walked_to_work'],
      dtype='object')

In [38]:
info[info['null values']>0].index

Index(['median_age', 'median_income', 'income_per_capita', 'median_rent',
       'percent_income_spent_on_rent', 'gini_index'],
      dtype='object')

While these factors are probably very relevant to the number of providers in a zip code, the health risk score, and the use of different providers, it seems there are other features in Census DF that may also address income, rent, and age.

In [39]:
#dropping these cols with nulls
cols = info[info['null values']>0].index
census.drop(columns = cols, inplace=True)

# Checking Data Types

All columns in Census besides Geo_id should be 'int' or 'float.' I want to see what is listed as object.

In [40]:
census.select_dtypes('object').head(1)

  geo_id
1  79916

There's a column called do_date that includes the years used to make the estimate Census measures. I'm going to keep that last four digits which represent the year being estimated.

In [41]:
census.do_date = census.do_date.apply(lambda x: str(x)[-4:])
census.do_date = pd.to_datetime(census.do_date, format='%Y')
census.do_date

1       2013-01-01
7       2013-01-01
50      2013-01-01
70      2013-01-01
77      2013-01-01
           ...
33115   2013-01-01
33116   2013-01-01
33117   2013-01-01
33118   2013-01-01
33119   2013-01-01
Name: do_date, Length: 19323, dtype: datetime64[ns]

In [49]:
census.isnull().sum().sort_values()

geo_id                          0
children                        0
children_in_single_female_hh    0
commuters_by_bus                0
commuters_by_car_truck_van      0
                               ..
male_21                         0
male_22_to_24                   0
male_25_to_29                   0
pop_divorced                    0
do_date                         0
Length: 240, dtype: int64

In [50]:
med.to_csv('../../data/processed/final2013MEDICARE.csv')
census.to_csv('../../data/processed/final2013CENSUS.csv')