In [1]:
import sys
print(sys.executable)

/Users/Livi/opt/anaconda3/envs/springboard/bin/python

Data Wrangling
Data Collection
Locating the data
Data loading
Data joining
Data Organization
File structure
Git & Github
Data Definition
Column names
Data types (numeric, categorical, timestamp, etc.)
Description of the columns
Count or percent per unique values or codes (including NA)
The range of values or codes
Data Cleaning
NA or missing data
Duplicates

Data Acquisition (manual intervention?)

Data quality (zipcodes in right form, can sales/units be 0 or neg?, differentiate cities w same name, num/cat variables take on expected boundaires

Deal w missing data

Dealing w small or large data

Blending multiple datasets

In [2]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
pd.__version__

'1.1.5'

In [4]:
os.getcwd()

'/Users/Livi/Projects/capstone2/notebooks'

In [5]:
med = pd.read_csv("../data/raw/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2012.csv")

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
med.shape

(925328, 67)

In [7]:
med.head()

,NPI,NPPES Provider Last Name / Organization Name,NPPES Provider First Name,NPPES Provider Middle Initial,NPPES Credentials,NPPES Provider Gender,NPPES Entity Code,NPPES Provider Street Address 1,NPPES Provider Street Address 2,NPPES Provider City,...,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Heart Failure,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,51.0,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,21.0,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,50.0,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967
3,1003000381,BRAGANZA,LUTHER,Q,PT,M,I,134 N OLD DIXIE HWY,NaN,LADY LAKE,...,35.0,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,456 MAGEE AVE,NaN,PATTON,...,39.0,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170

CHECKPOINT, SAVING ORIGINAL DF

In [8]:
original_df = med.copy()

In [9]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

I ONLY WANT TO LOOK AT MENTAL HEALTH PROVIDERS SO I WILL FILTER THE DF FOR THOSE PROVIDER AND THEN EXAMINE THE NULL VALUES

In [10]:
med.columns

Index(['NPI', 'NPPES Provider Last Name / Organization Name',
       'NPPES Provider First Name', 'NPPES Provider Middle Initial',
       'NPPES Credentials', 'NPPES Provider Gender', 'NPPES Entity Code',
       'NPPES Provider Street Address 1', 'NPPES Provider Street Address 2',
       'NPPES Provider City', 'NPPES Provider Zip Code',
       'NPPES Provider State', 'NPPES Provider Country', 'Provider Type',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Services', 'Number of Unique Beneficiaries',
       'Total Submitted Charges', 'Total Medicare Allowed Amount',
       'Total Medicare Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Unique Beneficiaries With Drug Services',
       'Total Drug Submitted Charges', 'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount', 'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Unique Beneficiaries With Medical Services',
       'Total Medical Submitted Charges',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount', 'Average Age of Beneficiaries',
       'Number of Beneficiaries Age Less than 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [11]:
med['Provider Type'].unique()

array(['Internal Medicine', 'Pathology', 'Anesthesiology',
       'Physical Therapist', 'Family Practice', 'Obstetrics/Gynecology',
       'Clinical Psychologist', 'General Surgery',
       'Occupational therapist', 'Chiropractic', 'Cardiac Surgery',
       'Nurse Practitioner', 'Physician Assistant', 'Cardiology',
       'Dermatology', 'CRNA', 'Mass Immunization Roster Biller',
       'Physical Medicine and Rehabilitation',
       'Registered Dietician/Nutrition Professional',
       'Radiation Oncology', 'Infectious Disease', 'Orthopedic Surgery',
       'Ambulatory Surgical Center', 'Endocrinology', 'Urology',
       'Diagnostic Radiology', 'Neurology', 'Emergency Medicine',
       'Nephrology', 'Licensed Clinical Social Worker', 'Psychiatry',
       'Preventive Medicine', 'Pulmonary Disease', 'Otolaryngology',
       'Plastic and Reconstructive Surgery', 'General Practice',
       'Ambulance Service Supplier', 'Osteopathic Manipulative Medicine',
       'Allergy/Immunology', 'Ophthalmology',
       'Audiologist (billing independently)', 'Geriatric Medicine',
       'Gastroenterology', 'Thoracic Surgery', 'Pain Management',
       'Podiatry', 'Hematology/Oncology', 'Optometry',
       'All Other Suppliers', 'Oral Surgery (dentists only)',
       'Neurosurgery', 'Clinical Laboratory',
       'Critical Care (Intensivists)', 'Surgical Oncology',
       'Pediatric Medicine', 'Anesthesiologist Assistants',
       'Hand Surgery', 'Certified Clinical Nurse Specialist',
       'Hospice and Palliative Care',
       'Independent Diagnostic Testing Facility', 'Rheumatology',
       'Vascular Surgery', 'Interventional Pain Management',
       'Maxillofacial Surgery', 'Medical Oncology', 'Portable X-ray',
       'Nuclear Medicine', 'Certified Nurse Midwife',
       'Mammographic Screening Center',
       'Multispecialty Clinic/Group Practice',
       'Cardiac Electrophysiology', 'Sports Medicine',
       'Public Health Welfare Agency', 'Slide Preparation Facility',
       'Interventional Radiology',
       'Colorectal Surgery (formerly proctology)', 'Geriatric Psychiatry',
       'Speech Language Pathologist', 'Hematology', 'Addiction Medicine',
       'Gynecological/Oncology', 'Neuropsychiatry',
       'Peripheral Vascular Disease',
       'Psychologist (billing independently)',
       'Unknown Physician Specialty Code', 'Radiation Therapy',
       'Unknown Supplier/Provider', 'Sleep Medicine', 'Pharmacy'],
      dtype=object)

In [12]:
maybe_mental_providers = ['Clinic or Group Practice','Preventive Medicine',
                           'All Other Suppliers','Addiction Medicine',
                          'Occupational Therapist in Private Practice',]

In [13]:
def_mental_providers = ['Licensed Clinical Social Worker','Psychologist, Clinical',
                        'Geriatric Psychiatry','Neuropsychiatry',
                       'Psychiatry',]

In [14]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)

In [15]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)
for i in def_mental_providers:
    mental_med = pd.concat([mental_med, med[med["Provider Type"]==i]])

In [16]:
len(mental_med)

37866

In [17]:
info = pd.DataFrame(index=mental_med.columns.values,
                    data={'data type': mental_med.dtypes, \
                          'non-null values': mental_med.notnull().sum(),
                          'unique values': mental_med.nunique(), \
                          'null values': mental_med.isnull().sum()})
info.sort_values('non-null values')

,data type,non-null values,unique values,null values
Drug Suppress Indicator,object,874,1,36992
Medical Suppress Indicator,object,874,2,36992
Number of Beneficiaries With Race Not Elsewhere Classified,float64,7128,33,30738
Number of Hispanic Beneficiaries,float64,7668,274,30198
Number of Asian Pacific Islander Beneficiaries,float64,7731,103,30135
Number of Beneficiaries Age 75 to 84,float64,8548,382,29318
Number of Black or African American Beneficiaries,float64,9294,345,28572
Number of American Indian/Alaska Native Beneficiaries,float64,10180,53,27686
Number of Beneficiaries Age Greater 84,float64,11386,417,26480
Number of Beneficiaries Age 65 to 74,float64,12182,324,25684
Percent (%) of Beneficiaries Identified With Cancer,float64,13738,66,24128
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,14451,51,23415
NPPES Provider Street Address 2,object,14748,5652,23118
Percent (%) of Beneficiaries Identified With Asthma,float64,14883,50,22983
Percent (%) of Beneficiaries Identified With Heart Failure,float64,15897,74,21969
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,16258,72,21608
Percent (%) of Beneficiaries Identified With Stroke,float64,16721,54,21145
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,16927,45,20939
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,17056,74,20810
Number of Non-Hispanic White Beneficiaries,float64,17525,844,20341
Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia,float64,17865,75,20001
Number of Beneficiaries Age Less than 65,float64,18362,578,19504
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,19088,73,18778
Number of Beneficiaries With Medicare Only Entitlement,float64,20249,550,17617
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,20249,761,17617
Percent (%) of Beneficiaries Identified With Diabetes,float64,21464,68,16402
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,22522,71,15344
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,23331,76,14535
Number of Male Beneficiaries,float64,23680,528,14186
Number of Female Beneficiaries,float64,23680,705,14186
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,26140,65,11726
NPPES Provider Middle Initial,object,26784,29,11082
Percent (%) of Beneficiaries Identified With Hypertension,float64,27983,63,9883
Percent (%) of Beneficiaries Identified With Depression,float64,32977,65,4889
NPPES Credentials,object,36531,1523,1335
Total Medical Medicare Allowed Amount,float64,36992,36839,874
Total Medical Submitted Charges,float64,36992,30388,874
Number of Unique Beneficiaries With Medical Services,float64,36992,1011,874
Number of Medical Services,float64,36992,3219,874
Number of HCPCS Associated With Medical Services,float64,36992,61,874
Total Drug Medicare Payment Amount,float64,36992,285,874
Total Drug Medicare Allowed Amount,float64,36992,284,874
Total Drug Submitted Charges,float64,36992,284,874
Number of Drug Services,float64,36992,262,874
Number of HCPCS Associated With Drug Services,float64,36992,15,874
Total Medical Medicare Payment Amount,float64,36992,36747,874
Number of Unique Beneficiaries With Drug Services,float64,36992,72,874
NPPES Provider Gender,object,37863,2,3
NPPES Provider First Name,object,37863,7533,3
NPI,object,37866,37866,0
Total Medicare Payment Amount,float64,37866,37615,0
NPPES Provider Last Name / Organization Name,object,37866,21586,0
NPPES Entity Code,object,37866,2,0
NPPES Provider Street Address 1,object,37866,22304,0
NPPES Provider City,object,37866,3985,0
NPPES Provider Zip Code,object,37866,23269,0
NPPES Provider State,object,37866,55,0
Average Age of Beneficiaries,object,37866,65,0
NPPES Provider Country,object,37866,4,0
Medicare Participation Indicator,object,37866,2,0
Number of HCPCS,object,37866,69,0
Number of Services,object,37866,3417,0
Number of Unique Beneficiaries,object,37866,1023,0
Total Submitted Charges,float64,37866,31223,0
Total Medicare Allowed Amount,float64,37866,37706,0
Provider Type,object,37866,4,0
Average HCC Risk Score of Beneficiaries,float64,37866,14121,0

In [18]:
mental_med = mental_med[mental_med['NPPES Provider Country']=='US']

In [19]:
mental_med.iloc[:5, :12]

,NPI,NPPES Provider Last Name / Organization Name,NPPES Provider First Name,NPPES Provider Middle Initial,NPPES Credentials,NPPES Provider Gender,NPPES Entity Code,NPPES Provider Street Address 1,NPPES Provider Street Address 2,NPPES Provider City,NPPES Provider Zip Code,NPPES Provider State
58,1003003658,CUTINELLO,REEM,K,NaN,F,I,15419 E 127TH ST,NaN,LEMONT,604396494,IL
158,1003010356,BUIST,SUSAN,NaN,LMSW,F,I,602 MICHIGAN AVE,NaN,HOLLAND,494234918,MI
180,1003011487,WAKEM,JEAN,M,LCSW,F,I,253 NORTHPORT AVE,NaN,BELFAST,49156006,ME
185,1003011727,SANCHEZ,STEPHANIE,D,"MSW, LCSW",F,I,2506 WILLOW BROOK PARKWAY,SUITE 102,INDIANAPOLIS,462051542,IN
208,1003012600,POLSTER,ADRIENNE,R,"MSW, LCSW",F,I,1200 N EL DORADO PL,F-640,TUCSON,857154637,AZ

In [20]:
mental_med['full_address'] = mental_med['NPPES Provider Street Address 1'] + ',' + mental_med['NPPES Provider City'] + ' ' + mental_med['NPPES Provider State']

mental_med.full_address.head(1).apply(lambda x: geocoder.google(x,key='AIzaSyDxWevQ0d7JCzOBLG1ae2lSfqSoR1djflY').latlng)

In [22]:
import geocoder
g = geocoder.google("Tucson, AZ")
g.latlng

In [36]:
mental_med.full_address.reset_index(drop=True)[:10]

0                   15419 E 127TH ST,LEMONT IL
1                  602 MICHIGAN AVE,HOLLAND MI
2                 253 NORTHPORT AVE,BELFAST ME
3    2506 WILLOW BROOK PARKWAY,INDIANAPOLIS IN
4                1200 N EL DORADO PL,TUCSON AZ
5           100 S PINE ISLAND RD,PLANTATION FL
6               4131 NW 28TH LN,GAINESVILLE FL
7            1375 IDLEWOOD PARC XING,TUCKER GA
8                     1150 SCIOTO ST,URBANA OH
9           2201 HEMPSTEAD TPKE,EAST MEADOW NY
Name: full_address, dtype: object

In [38]:
from time import perf_counter

start = perf_counter()
x= mental_med.full_address.reset_index(drop=True)[:1000]
series = []
for i in x:
    series.append(
        geocoder.google(i,key='AIzaSyDxWevQ0d7JCzOBLG1ae2lSfqSoR1djflY').latlng)

end = perf_counter()
print(end - start)

KeyboardInterrupt:

In [ ]:
geocoder.google('602 MICHIGAN AVE, Holland MI',key='AIzaSyDxWevQ0d7JCzOBLG1ae2lSfqSoR1djflY').latlng

In [67]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client()

# Geocoding an address
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

In [70]:
g = geocoder.google('602 MICHIGAN AVE, Holland MI')

In [71]:
g.latlng

In [68]:
geocode_result

[{'address_components': [{'long_name': '1600',
    'short_name': '1600',
    'types': ['street_number']},
   {'long_name': 'Amphitheatre Parkway',
    'short_name': 'Amphitheatre Pkwy',
    'types': ['route']},
   {'long_name': 'Mountain View',
    'short_name': 'Mountain View',
    'types': ['locality', 'political']},
   {'long_name': 'Santa Clara County',
    'short_name': 'Santa Clara County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'California',
    'short_name': 'CA',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '94043', 'short_name': '94043', 'types': ['postal_code']}],
  'formatted_address': '1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA',
  'geometry': {'location': {'lat': 37.4222747, 'lng': -122.0839248},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.42362368029149,
     'lng': -122.0825758197085},
    'southwest': {'lat': 37.4209257197085, 'lng': -122.0852737802915}}},
  'place_id': 'ChIJ2QHGpW-7j4ARe7z3NxQzggI',
  'plus_code': {'compound_code': 'CWC8+WC Mountain View, CA, USA',
   'global_code': '849VCWC8+WC'},
  'types': ['street_address']}]

In [64]:
results[:5]

[]

I wonder if I add all the races, if it will equal the total number of beneficiaries.
Same with the age groups.

In [615]:
mental_med['Number of Beneficiaries Age 75 to 84'].value_counts()

0.0      2468
11.0      154
12.0      136
13.0      129
18.0      126
         ...
547.0       1
780.0       1
308.0       1
350.0       1
237.0       1
Name: Number of Beneficiaries Age 75 to 84, Length: 382, dtype: int64

The age brackets don't equal the total number of medicare beneficiaries

In [616]:
(((mental_med['Number of Beneficiaries Age 65 to 74'].fillna(0).astype('int',) + \
 mental_med['Number of Beneficiaries Age Less than 65'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age 75 to 84'].fillna(0).astype('int')+ \
 mental_med['Number of Beneficiaries Age Greater 84'].fillna(0).astype('int')
    ) == mental_med['Number of Unique Beneficiaries']
        )*1
            ).sum()

6030

In [617]:
(mental_med['Number of Beneficiaries Age 65 to 74'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age Less than 65'].fillna(0).astype('int') + \
 mental_med['Number of Beneficiaries Age 75 to 84'].fillna(0).astype('int')+ \
 mental_med['Number of Beneficiaries Age Greater 84'].fillna(0).astype('int')
    ).value_counts()

0       17189
11        401
13        363
12        340
14        311
        ...
686         1
782         1
814         1
910         1
1823        1
Length: 1024, dtype: int64

Gender also doesn't add up although it's better than age.

In [618]:
((mental_med['Number of Male Beneficiaries'] + mental_med['Number of Female Beneficiaries'] == \
    mental_med['Number of Unique Beneficiaries']
    )*1
    ).sum()

23398

Race bins also don't add up to total people seen.

In [619]:
race_cols = [
    'Number of American Indian/Alaska Native Beneficiaries',
    'Number of Asian Pacific Islander Beneficiaries',
    'Number of Beneficiaries With Race Not Elsewhere Classified',
    'Number of Black or African American Beneficiaries',
    'Number of Non-Hispanic White Beneficiaries',
    'Number of Hispanic Beneficiaries',
     ]

In [620]:
series = pd.Series(
    (mental_med['Number of American Indian/Alaska Native Beneficiaries'].fillna(0).astype('int')+\
   mental_med['Number of Asian Pacific Islander Beneficiaries'].fillna(0).astype('int')+\
   mental_med['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0).astype('int')+\
   mental_med['Number of Black or African American Beneficiaries'].fillna(0)+\
   mental_med['Number of Non-Hispanic White Beneficiaries'].fillna(0)+\
   mental_med['Number of Hispanic Beneficiaries'].fillna(0)
    )
)

mental_med['sum_of_races'] = series

In [621]:
print("Null Values in Black Ben Column:",(mental_med['Number of Black or African American Beneficiaries'].isnull()).sum())
print("Non-null Values in Black Ben Column:",(mental_med['Number of Black or African American Beneficiaries'].notnull()).sum())

Null Values in Black Ben Column: 28572
Non-null Values in Black Ben Column: 9294

This will make it easier to change "Number of Beneficiaries with Race not elsewhere classified"

In [622]:
mental_med['sum_matches_beneficiaries'] = (mental_med['Number of Unique Beneficiaries'] == series)*1

#Visualizing the numbers of people marked per race with the number of Unique Beneficiaries
mental_med[
    mental_med['sum_matches_beneficiaries']==0][race_cols]\
        .join(mental_med['Number of Unique Beneficiaries']).head()

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
58,0.0,NaN,0.0,NaN,NaN,NaN,12
158,NaN,NaN,NaN,NaN,NaN,NaN,35
185,NaN,NaN,NaN,NaN,NaN,NaN,47
208,0.0,0.0,0.0,NaN,NaN,NaN,14
235,0.0,0.0,0.0,0.0,NaN,NaN,11

Only 4000 entries have fully filled out race.

In [623]:
mental_med.sum_matches_beneficiaries.sum()

3932

In [624]:
mental_med[mental_med.sum_matches_beneficiaries == 0]['Number of Beneficiaries With Race Not Elsewhere Classified']

58        0.0
158       NaN
185       NaN
208       0.0
235       0.0
         ...
925013    NaN
925104    NaN
925109    NaN
925149    NaN
925305    NaN
Name: Number of Beneficiaries With Race Not Elsewhere Classified, Length: 33934, dtype: float64

Here I add the current value of "Not Classified" with the remainder of Total Number Beneficiaries minus Sum of people of all races for that entry.

In [625]:
mental_med.loc[
        mental_med.sum_matches_beneficiaries == 0, 
        'Number of Beneficiaries With Race Not Elsewhere Classified'
            ]   = mental_med['Number of Unique Beneficiaries'] \
                + mental_med['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0)\
                - mental_med.sum_of_races

In [626]:
mental_med[
    mental_med.sum_matches_beneficiaries == 0
        ]['Number of Beneficiaries With Race Not Elsewhere Classified']

58        12
158       35
185       47
208       14
235       11
          ..
925013    46
925104    23
925109    12
925149    12
925305    41
Name: Number of Beneficiaries With Race Not Elsewhere Classified, Length: 33934, dtype: object

In [627]:
#checking that i did it right

print(
(mental_med[race_cols].sum(axis=1)==mental_med['Number of Unique Beneficiaries']).sum()
)
print(
    len(mental_med)
)

37866
37866

How many zip codes exist for data that include the number of Black people?

In [628]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

7477

How many zip codes exist for data that include the number of White people?

In [629]:
mental_med[
    mental_med['Number of Non-Hispanic White Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

12257

How many zip codes exist for data that include the number of Hispanic people?

In [630]:
mental_med[
    mental_med['Number of Hispanic Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

6498

How many zip codes exist for data that include the number of Asian people

In [631]:
mental_med[
    mental_med['Number of Asian Pacific Islander Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

6607

How many zip codes exist for data that include the number of Native American people?

In [632]:
mental_med[
    mental_med['Number of American Indian/Alaska Native Beneficiaries'].notnull()
            ]['NPPES Provider Zip Code'].nunique()

8180

#### There's more data for White people than for Black people. It may be equally useful (for determining disparity or for later comparison) to study these data instead or as well.

CHECKPOINT, MENTAL HEALTH PROVIDERS DF

In [633]:
checkpoint1_df = mental_med.copy()

I want to look at zip codes with zero black people and also at what % are unknown (not listed) of total beneficiaries.

This is to show a limit of my data: some zip codes with Black beneficiaries listed as ZERO also have a high percentage of people with unlisted races

In [634]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries']==0]
temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100
temp.percent_race_unknown.value_counts().reset_index().sort_values('index', ascending=False)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         index  percent_race_unknown
1   100.000000                   542
33   55.555556                     1
32   54.054054                     1
31   50.000000                     1
10   48.000000                     2
9    47.826087                     2
8    45.833333                     2
29   44.827586                     1
7    44.444444                     2
26   43.589744                     1
30   43.333333                     1
6    41.379310                     2
24   40.000000                     1
23   38.636364                     1
22   37.931034                     1
76   37.837838                     1
5    36.363636                     2
74   36.000000                     1
20   35.483871                     1
19   34.615385                     1
2    34.285714                     2
4    33.333333                     2
17   30.555556                     1
16   29.729730                     1
34   28.070175                     1
3    25.000000                     2
78   24.489796                     1
36   24.444444                     1
47   23.728814                     1
55   22.000000                     1
54   21.568627                     1
77   20.987654                     1
53   20.224719                     1
97   20.000000                     1
52   18.644068                     1
95   18.518519                     1
56   17.808219                     1
94   17.391304                     1
51   17.333333                     1
59   17.142857                     1
21   17.117117                     1
50   16.504854                     1
92   16.279070                     1
99   15.966387                     1
64   15.942029                     1
49   15.789474                     1
13   15.714286                     2
91   15.533981                     1
12   15.492958                     2
61   15.094340                     1
60   13.829787                     1
48   13.483146                     1
73   13.265306                     1
88   13.000000                     1
46   12.903226                     1
87   12.149533                     1
80   12.000000                     1
84   11.956522                     1
68   11.827957                     1
37   11.735941                     1
90   11.607143                     1
35   11.578947                     1
71   11.475410                     1
98   11.340206                     1
79   11.267606                     1
66   11.111111                     1
18   11.000000                     1
86   10.928962                     1
15   10.784314                     1
63   10.674157                     1
96   10.476190                     1
45   10.256410                     1
83   10.091743                     1
27   10.084034                     1
75   10.000000                     1
44    9.600000                     1
82    9.401709                     1
81    8.823529                     1
43    8.800000                     1
11    8.333333                     2
65    8.227848                     1
69    8.097166                     1
89    7.971014                     1
58    7.913669                     1
72    7.692308                     1
93    7.594937                     1
42    7.142857                     1
62    7.096774                     1
41    6.862745                     1
28    6.827309                     1
85    6.276151                     1
70    5.263158                     1
40    5.000000                     1
39    4.778157                     1
25    4.545455                     1
14    4.313725                     1
57    4.182510                     1
67    4.037267                     1
38    3.030303                     1
0     0.000000                  3469

I also want to look at Providers who included NULL VALUES for Black people and also at what % of entries have race not listed out of total beneficiaries.

In [635]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries'].isnull()]
temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100
temp.percent_race_unknown.value_counts().reset_index().sort_values('index', ascending=False).head(2000)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           index  percent_race_unknown
0     100.000000                 18486
1727   70.000000                     1
877    63.333333                     3
3876   62.857143                     1
2240   62.500000                     1
...          ...                   ...
762    17.322835                     3
487    17.307692                     4
4000   17.297297                     1
3740   17.293233                     1
1760   17.287234                     1

[2000 rows x 2 columns]

In [636]:
print('Total NULL values for Black beneficiaries:',len(temp))

Total NULL values for Black beneficiaries: 28572

I want to know if I can enter ZERO for number of Black beneficiaries for some of these 28,000 entries. When I explored the data, I noticed a lot of them had NaN for ALL races except for Number of White Beneficiaries and Number of Beneficiaries for Which Race Not Listed. I wonder if this means the Not Listed patients are White.

Strange phenomenon:
8600 rows of data have numbers of White patients seen by a doctor and some number of patients for whom Race is Not Listed.
But the numbers of Black, Asian, Hispanic, or American Indian Beneficiaries are NaN.
(Or most are NaN, except for one).

Can I assume the Not Listed Beneficiaries are White? Or at least, Not Black?
Why would doctors do this?

In [637]:
temp[
    temp['Number of American Indian/Alaska Native Beneficiaries'].isnull() &\
    temp['Number of Asian Pacific Islander Beneficiaries'].isnull() &\
    temp['Number of Black or African American Beneficiaries'].isnull() &\
    temp['Number of Hispanic Beneficiaries'].isnull() &\
    temp['Number of Non-Hispanic White Beneficiaries'].notnull()
        ][race_cols
             ].join(temp['Number of Unique Beneficiaries'])

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
579,NaN,NaN,11,NaN,84.0,NaN,95
1311,NaN,NaN,48,NaN,123.0,NaN,171
5465,NaN,NaN,14,NaN,20.0,NaN,34
8114,NaN,NaN,17,NaN,34.0,NaN,51
8210,NaN,NaN,18,NaN,61.0,NaN,79
...,...,...,...,...,...,...,...
924725,NaN,NaN,21,NaN,77.0,NaN,98
924729,NaN,NaN,64,NaN,293.0,NaN,357
924853,NaN,NaN,31,NaN,52.0,NaN,83
924892,NaN,NaN,29,NaN,206.0,NaN,235
925305,NaN,NaN,41,NaN,40.0,NaN,81

I want to look at one more phenomenon I noticed: 
SOME columns for non-White races are marked 0, SOME are NaN, but White people is filled out.

In [638]:
temp[
    (temp['Number of American Indian/Alaska Native Beneficiaries'].isnull() |\
    temp['Number of Asian Pacific Islander Beneficiaries'].isnull() |\
    temp['Number of Black or African American Beneficiaries'].isnull() |\
    temp['Number of Hispanic Beneficiaries'].isnull() 
    ) &\
    temp['Number of Non-Hispanic White Beneficiaries'].notnull()
        ][race_cols
             ].join(temp['Number of Unique Beneficiaries']).head(100)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
579,NaN,NaN,11,NaN,84.0,NaN,95
673,0.0,0.0,11,NaN,51.0,NaN,62
1233,0.0,0.0,12,NaN,37.0,NaN,49
1311,NaN,NaN,48,NaN,123.0,NaN,171
1441,0.0,0.0,14,NaN,38.0,NaN,52
1906,0.0,0.0,11,NaN,17.0,NaN,28
4318,0.0,0.0,13,NaN,52.0,NaN,65
5465,NaN,NaN,14,NaN,20.0,NaN,34
8114,NaN,NaN,17,NaN,34.0,NaN,51
8210,NaN,NaN,18,NaN,61.0,NaN,79
9030,NaN,NaN,16,NaN,48.0,NaN,64
9809,0.0,0.0,11,NaN,68.0,NaN,79
10006,NaN,NaN,27,NaN,147.0,NaN,174
10628,0.0,0.0,13,NaN,66.0,NaN,79
11328,0.0,0.0,11,NaN,30.0,NaN,41
11989,NaN,NaN,20,NaN,122.0,NaN,142
12364,NaN,NaN,18,NaN,20.0,NaN,38
12432,0.0,0.0,13,NaN,64.0,NaN,77
12522,0.0,NaN,11,NaN,22.0,NaN,33
12537,0.0,0.0,13,NaN,20.0,NaN,33
12539,NaN,NaN,20,NaN,65.0,NaN,85
13279,NaN,NaN,14,NaN,32.0,NaN,46
15612,0.0,NaN,11,NaN,62.0,0.0,73
15919,0.0,NaN,14,NaN,22.0,NaN,36
17281,NaN,NaN,12,NaN,94.0,22.0,128
20113,NaN,NaN,35,NaN,48.0,NaN,83
21127,0.0,0.0,11,NaN,15.0,NaN,26
21221,NaN,NaN,18,NaN,38.0,NaN,56
21623,NaN,NaN,22,NaN,84.0,NaN,106
22013,0.0,0.0,12,NaN,29.0,NaN,41
23624,0.0,0.0,11,NaN,23.0,NaN,34
24253,NaN,NaN,31,NaN,43.0,NaN,74
24707,0.0,0.0,12,NaN,38.0,0.0,50
24748,NaN,NaN,20,NaN,39.0,NaN,59
24925,0.0,0.0,11,NaN,48.0,12.0,71
25768,NaN,0.0,16,NaN,81.0,NaN,97
25824,NaN,0.0,13,NaN,94.0,NaN,107
26509,NaN,NaN,13,NaN,17.0,NaN,30
26527,0.0,0.0,12,NaN,24.0,NaN,36
27094,NaN,NaN,26,NaN,83.0,NaN,109
34231,0.0,NaN,11,NaN,27.0,13.0,51
34391,NaN,0.0,12,NaN,32.0,NaN,44
34776,NaN,NaN,57,NaN,119.0,NaN,176
35040,NaN,NaN,20,NaN,98.0,NaN,118
35071,NaN,NaN,21,NaN,44.0,NaN,65
35802,NaN,NaN,20,NaN,29.0,NaN,49
35980,NaN,NaN,21,NaN,23.0,NaN,44
36002,0.0,NaN,13,NaN,20.0,NaN,33
36516,NaN,NaN,22,NaN,41.0,NaN,63
42308,NaN,NaN,25,NaN,33.0,NaN,58
42457,0.0,NaN,15,NaN,46.0,20.0,81
42753,NaN,0.0,11,NaN,18.0,NaN,29
42763,NaN,NaN,14,NaN,24.0,NaN,38
43084,NaN,NaN,18,NaN,29.0,NaN,47
43363,0.0,NaN,15,NaN,31.0,NaN,46
44561,NaN,NaN,45,NaN,123.0,NaN,168
44637,NaN,NaN,18,NaN,66.0,NaN,84
45154,0.0,0.0,11,NaN,16.0,NaN,27
45577,NaN,NaN,17,NaN,23.0,NaN,40
46087,NaN,NaN,42,NaN,78.0,NaN,120
47771,NaN,NaN,25,NaN,80.0,NaN,105
51182,NaN,NaN,12,NaN,63.0,NaN,75
51984,0.0,0.0,11,NaN,12.0,NaN,23
52322,0.0,NaN,16,NaN,25.0,NaN,41
52532,0.0,0.0,11,NaN,84.0,NaN,95
52631,0.0,0.0,13,NaN,56.0,NaN,69
52935,NaN,NaN,32,NaN,48.0,NaN,80
53004,0.0,0.0,16,NaN,40.0,NaN,56
53102,0.0,0.0,11,NaN,23.0,NaN,34
54355,NaN,NaN,21,NaN,17.0,NaN,38
54921,NaN,NaN,15,NaN,38.0,NaN,53
55130,NaN,0.0,11,NaN,18.0,0.0,29
55204,NaN,NaN,16,NaN,44.0,NaN,60
55412,0.0,0.0,11,NaN,14.0,NaN,25
56699,NaN,NaN,17,NaN,74.0,NaN,91
56917,NaN,NaN,23,NaN,83.0,NaN,106
58588,0.0,0.0,17,NaN,90.0,NaN,107
60506,0.0,NaN,18,NaN,37.0,NaN,55
60880,0.0,NaN,26,NaN,80.0,NaN,106
61730,NaN,0.0,13,NaN,33.0,NaN,46
62401,0.0,NaN,11,NaN,260.0,NaN,271
63113,0.0,NaN,12,NaN,63.0,NaN,75
63297,NaN,NaN,17,NaN,44.0,NaN,61
63321,NaN,NaN,37,NaN,48.0,NaN,85
63401,NaN,NaN,13,NaN,16.0,NaN,29
64117,0.0,NaN,13,NaN,18.0,NaN,31
65093,0.0,0.0,11,NaN,35.0,NaN,46
67442,NaN,NaN,42,NaN,125.0,NaN,167
68250,NaN,NaN,25,NaN,125.0,NaN,150
68592,0.0,0.0,12,NaN,34.0,NaN,46
70198,0.0,NaN,17,NaN,51.0,NaN,68
71396,NaN,NaN,13,NaN,29.0,NaN,42
71537,NaN,NaN,14,NaN,32.0,NaN,46
71892,NaN,NaN,21,NaN,137.0,NaN,158
72625,0.0,0.0,14,NaN,81.0,NaN,95
73122,0.0,0.0,11,NaN,31.0,NaN,42
73161,NaN,NaN,24,NaN,66.0,NaN,90
73880,NaN,0.0,13,NaN,52.0,NaN,65
73976,0.0,NaN,11,NaN,19.0,NaN,30
74013,NaN,NaN,13,NaN,16.0,NaN,29

Again, not sure why some are NaN and others are 0.
Also, not sure why some are filled and others are NaN.

It might help to do the MERGE with Census and see how the racial demographics are of these zip codes. 

I will mark ZERO for these 10,000 columns but add another column, marking those columns where I impute ZERO Black patients that I imputed them.

In [639]:
mental_med['imputed_zero'] = 0

In [640]:
mask = (mental_med['Number of American Indian/Alaska Native Beneficiaries'].isnull() |\
    mental_med['Number of Asian Pacific Islander Beneficiaries'].isnull() |\
    mental_med['Number of Black or African American Beneficiaries'].isnull() |\
    mental_med['Number of Hispanic Beneficiaries'].isnull() 
    ) &\
        mental_med['Number of Non-Hispanic White Beneficiaries'].notnull()
mental_med[mask][race_cols]

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
579,NaN,NaN,11,NaN,84.0,NaN
673,0.0,0.0,11,NaN,51.0,NaN
1233,0.0,0.0,12,NaN,37.0,NaN
1311,NaN,NaN,48,NaN,123.0,NaN
1441,0.0,0.0,14,NaN,38.0,NaN
...,...,...,...,...,...,...
924980,NaN,0.0,11,NaN,81.0,33.0
925004,NaN,NaN,16,NaN,152.0,23.0
925109,0.0,NaN,12,NaN,77.0,NaN
925149,NaN,0.0,12,NaN,60.0,NaN
925305,NaN,NaN,41,NaN,40.0,NaN

In [641]:
idx = mental_med[mask].index

In [642]:
mental_med.loc[idx,'Number of Hispanic Beneficiaries'] = mental_med.loc[idx,'Number of Hispanic Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of American Indian/Alaska Native Beneficiaries'] =mental_med.loc[idx,'Number of American Indian/Alaska Native Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of Asian Pacific Islander Beneficiaries'] = mental_med.loc[idx,'Number of Asian Pacific Islander Beneficiaries'].fillna(0)
mental_med.loc[idx,'Number of Black or African American Beneficiaries'] = mental_med.loc[idx,'Number of Black or African American Beneficiaries'].fillna(0)

Now how many null values for Number of Black Beneficiaries?

In [643]:
mental_med['Number of Black or African American Beneficiaries'].isnull().sum()

18791

Seeing how many Latinos not null when Black people are null

In [644]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'].isnull()
][race_cols].join(
    mental_med['Number of Unique Beneficiaries']).sort_values(
        'Number of Hispanic Beneficiaries', ascending=False).head(300)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries,Number of Unique Beneficiaries
722474,NaN,NaN,228,NaN,NaN,822.0,1050
589062,NaN,NaN,121,NaN,NaN,754.0,875
788575,NaN,NaN,24,NaN,NaN,615.0,639
274381,NaN,NaN,29,NaN,NaN,533.0,562
675712,NaN,NaN,202,NaN,NaN,456.0,658
...,...,...,...,...,...,...,...
831903,0.0,0.0,11,NaN,NaN,0.0,11
833055,0.0,0.0,12,NaN,NaN,0.0,12
197349,0.0,0.0,13,NaN,NaN,0.0,13
196934,0.0,NaN,20,NaN,NaN,0.0,20
835464,0.0,0.0,11,NaN,NaN,0.0,11

I made a percent_race_unknown col for each row with null values for Black beneficiaries.

18,477 entries are 100% unknown (no number listed for any race).

The total number of null entries for Black beneficiaries is 18791, so there's not much guessing I can do to mitigate this.

In [645]:
temp = mental_med[mental_med['Number of Black or African American Beneficiaries'].isnull()]

temp['percent_race_unknown'] = temp['Number of Beneficiaries With Race Not Elsewhere Classified'] / temp['Number of Unique Beneficiaries'] * 100

temp.percent_race_unknown.value_counts(
    ).reset_index(
        ).rename(columns={'index':'percent_unknown',
                          'percent_race_unknown':'number_of_entries'}
                                ).sort_values(
                                    'percent_unknown', ascending=False).head(2000)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     percent_unknown  number_of_entries
0         100.000000              18477
118        70.000000                  1
120        61.764706                  1
210        61.290323                  1
212        60.606061                  1
..               ...                ...
229         5.574913                  1
115         5.160142                  1
104         4.934211                  1
171         4.545455                  1
249         3.755869                  1

[250 rows x 2 columns]

There are no null values in the column "Number of Beneficiaries With Race Not Elsewhere Classified" since I put the remainder of "Number of Unique Beneficiaries" with no race in that column.

Here, I fill all the rest of the null values in Race columns with "Unknown." I may be able to use these columns for other investigations, but I won't be able to include them in visualizing or modeling race. Note that some columns actually list 0 for some races but NaN for the others. The 0 is useful, but without any non-zero values in any other race columns, does not tell me much about the races of people seen by that doctor.

In [646]:
temp[temp.percent_race_unknown == 100][race_cols].head(2)

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
58,0.0,NaN,12,NaN,NaN,NaN
158,NaN,NaN,35,NaN,NaN,NaN

In [647]:
#Indexes of all rows with 100% race unknown
idx = temp[temp.percent_race_unknown == 100].index

mental_med.loc[idx, race_cols] = mental_med.loc[idx, race_cols].fillna('unknown race')

CHECKPOINT, MENTAL HEALTH PROVIDERS WITH NULLS FILLED OR AS 'UNKNOWN'

In [649]:
checkpoint2_df = mental_med.copy()

#NEW DFs, one with 19,000 entries and races filled or imputed 
#and the other with 18,000 and races all or mostly 'unknown'

race_known = mental_med.drop(index=idx)
race_unknown = mental_med.loc[idx]


# LEFT OFF HERE

##### Aggregating by Zip Code

In [671]:
race_known['NPPES Provider Zip Code'].nunique()

13350

In [672]:
race_known['Total Medicare Allowed Amount']

180       22494.46
212       52468.40
235       11364.30
579       26293.23
621        6759.87
            ...
924980    32585.85
925004    30466.03
925109    19522.65
925149    17091.05
925305     9182.60
Name: Total Medicare Allowed Amount, Length: 19389, dtype: float64

In [665]:
race_known.columns

Index(['NPI', 'NPPES Provider Last Name / Organization Name',
       'NPPES Provider First Name', 'NPPES Provider Middle Initial',
       'NPPES Credentials', 'NPPES Provider Gender', 'NPPES Entity Code',
       'NPPES Provider Street Address 1', 'NPPES Provider Street Address 2',
       'NPPES Provider City', 'NPPES Provider Zip Code',
       'NPPES Provider State', 'NPPES Provider Country', 'Provider Type',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Services', 'Number of Unique Beneficiaries',
       'Total Submitted Charges', 'Total Medicare Allowed Amount',
       'Total Medicare Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Unique Beneficiaries With Drug Services',
       'Total Drug Submitted Charges', 'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount', 'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Unique Beneficiaries With Medical Services',
       'Total Medical Submitted Charges',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount', 'Average Age of Beneficiaries',
       'Number of Beneficiaries Age Less than 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries', 'sum_of_races',
       'sum_matches_beneficiaries', 'imputed_zero'],
      dtype='object')

In [651]:
race_known['NPPES Provider Zip Code'].isnull().sum()

0

WHILE TRYING TO GROUPBY ZIPCODE AND AGGREGATE IMPORTANT COLUMNS, I REALIZED THAT SOME NUMERICAL COLUMNS ARE LISTED AS OBJECTS

In [652]:
race_known.select_dtypes('object').columns

Index(['NPI', 'NPPES Provider Last Name / Organization Name',
       'NPPES Provider First Name', 'NPPES Provider Middle Initial',
       'NPPES Credentials', 'NPPES Provider Gender', 'NPPES Entity Code',
       'NPPES Provider Street Address 1', 'NPPES Provider Street Address 2',
       'NPPES Provider City', 'NPPES Provider Zip Code',
       'NPPES Provider State', 'NPPES Provider Country', 'Provider Type',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Services', 'Number of Unique Beneficiaries',
       'Drug Suppress Indicator', 'Medical Suppress Indicator',
       'Average Age of Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified'],
      dtype='object')

In [653]:
print(race_known.shape[0])
print((race_known.sum_of_races == race_known['Number of Unique Beneficiaries'].astype('int')).sum())

19389
3932

I have to recalculate 'sum_of_race' column to show the change I made to the 'race not listed' column.

In [654]:
series = pd.Series(
    (race_known['Number of American Indian/Alaska Native Beneficiaries'].fillna(0).astype('int')+\
   race_known['Number of Asian Pacific Islander Beneficiaries'].fillna(0).astype('int')+\
   race_known['Number of Beneficiaries With Race Not Elsewhere Classified'].fillna(0).astype('int')+\
   race_known['Number of Black or African American Beneficiaries'].fillna(0)+\
   race_known['Number of Non-Hispanic White Beneficiaries'].fillna(0)+\
   race_known['Number of Hispanic Beneficiaries'].fillna(0)
    )
)

race_known['sum_of_races'] = series

In [655]:
print(race_known.shape[0])
print((race_known.sum_of_races == race_known['Number of Unique Beneficiaries'].astype('int')).sum())

19389
19389

In [675]:
race_known['Average Age of Beneficiaries'].unique()

array([58, 85, 71, 45, 47, 46, 54, 56, 77, 75, 76, 63, 59, 74, 52, 64, 73,
       68, 65, 70, 67, 51, 44, 53, 80, 55, 48, 61, 49, 66, 43, 62, 69, 50,
       35, 81, 87, 60, 83, 72, 57, 88, 42, 78, 79, 84, 82, 41, 36, 40, 86,
       38, 37, 90, 39, 34, 89, 33, 31, 32, 26], dtype=object)

In [676]:
race_known['Number of Unique Beneficiaries']=race_known['Number of Unique Beneficiaries'].astype('int')
race_known['Average Age of Beneficiaries'] =race_known['Average Age of Beneficiaries'].astype('int')

In [677]:
grouping = race_known.groupby('NPPES Provider Zip Code', as_index=False)

In [678]:
less_important_columns = ['NPPES Provider Street Address 2',
                            'Drug Suppress Indicator', 
                            'Medical Suppress Indicator',
                            'NPPES Provider Middle Initial',
                            'Number of HCPCS Associated With Drug Services',
                            'NPPES Provider Last Name / Organization Name',
                            'NPPES Provider First Name',
                            'NPPES Provider Street Address 1',
                            'NPPES Credentials',
                            'NPPES Entity Code',
                            'NPPES Provider Gender',
                            'Medicare Participation Indicator'
                         ]

In [679]:
list(race_known.drop(columns=less_important_columns).columns)

['NPI',
 'NPPES Provider City',
 'NPPES Provider Zip Code',
 'NPPES Provider State',
 'NPPES Provider Country',
 'Provider Type',
 'Number of HCPCS',
 'Number of Services',
 'Number of Unique Beneficiaries',
 'Total Submitted Charges',
 'Total Medicare Allowed Amount',
 'Total Medicare Payment Amount',
 'Number of Drug Services',
 'Number of Unique Beneficiaries With Drug Services',
 'Total Drug Submitted Charges',
 'Total Drug Medicare Allowed Amount',
 'Total Drug Medicare Payment Amount',
 'Number of HCPCS Associated With Medical Services',
 'Number of Medical Services',
 'Number of Unique Beneficiaries With Medical Services',
 'Total Medical Submitted Charges',
 'Total Medical Medicare Allowed Amount',
 'Total Medical Medicare Payment Amount',
 'Average Age of Beneficiaries',
 'Number of Beneficiaries Age Less than 65',
 'Number of Beneficiaries Age 65 to 74',
 'Number of Beneficiaries Age 75 to 84',
 'Number of Beneficiaries Age Greater 84',
 'Number of Female Beneficiaries',
 'Number of Male Beneficiaries',
 'Number of Non-Hispanic White Beneficiaries',
 'Number of Black or African American Beneficiaries',
 'Number of Asian Pacific Islander Beneficiaries',
 'Number of Hispanic Beneficiaries',
 'Number of American Indian/Alaska Native Beneficiaries',
 'Number of Beneficiaries With Race Not Elsewhere Classified',
 'Number of Beneficiaries With Medicare Only Entitlement',
 'Number of Beneficiaries With Medicare & Medicaid Entitlement',
 'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
 'Percent (%) of Beneficiaries Identified With Asthma',
 'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
 'Percent (%) of Beneficiaries Identified With Cancer',
 'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
 'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
 'Percent (%) of Beneficiaries Identified With Depression',
 'Percent (%) of Beneficiaries Identified With Diabetes',
 'Percent (%) of Beneficiaries Identified With Heart Failure',
 'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
 'Percent (%) of Beneficiaries Identified With Hypertension',
 'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
 'Percent (%) of Beneficiaries Identified With Osteoporosis',
 'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
 'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
 'Percent (%) of Beneficiaries Identified With Stroke',
 'Average HCC Risk Score of Beneficiaries',
 'sum_of_races',
 'sum_matches_beneficiaries',
 'imputed_zero']

In [680]:
race_known['Provider Type'].value_counts()

Psychiatry                         14556
Licensed Clinical Social Worker     4674
Geriatric Psychiatry                  85
Neuropsychiatry                       74
Name: Provider Type, dtype: int64

# LEFT OFF HERE

In [684]:
# for some reason 'Number of HCPCS' wouldn't let me aggregate by mode using Pandas
# so importing scipy stats

from scipy.stats import mode as ssmode

known_zip = grouping.agg({'NPI':'count',
    'NPPES Provider City': pd.Series.mode,
 'NPPES Provider State':pd.Series.mode,
 'NPPES Provider Country':pd.Series.mode,
 'Provider Type':pd.Series.mode,
 'Number of HCPCS': lambda x: ssmode(x)[0][0],
 'Number of Services':'sum',
 'Number of Unique Beneficiaries':'sum',
 'Total Submitted Charges':'sum',
 'Total Medicare Allowed Amount':'sum',
 'Total Medicare Payment Amount':'sum',
 'Number of Drug Services':'sum',
 'Number of Unique Beneficiaries With Drug Services':'sum',
 'Total Drug Submitted Charges':'sum',
 'Total Drug Medicare Allowed Amount':'sum',
 'Total Drug Medicare Payment Amount':'sum',
 'Number of HCPCS Associated With Medical Services':'sum',
 'Number of Medical Services':'sum',
 'Number of Unique Beneficiaries With Medical Services':'sum',
 'Total Medical Submitted Charges':'sum',
 'Total Medical Medicare Allowed Amount':'sum',
 'Total Medical Medicare Payment Amount':'sum',
 'Average Age of Beneficiaries':'mean',
 'Number of Beneficiaries Age Less than 65':'sum',
 'Number of Beneficiaries Age 65 to 74':'sum',
 'Number of Beneficiaries Age 75 to 84':'sum',
 'Number of Beneficiaries Age Greater 84':'sum',
 'Number of Female Beneficiaries':'sum',
 'Number of Male Beneficiaries':'sum',
 'Number of Non-Hispanic White Beneficiaries':'sum',
 'Number of Black or African American Beneficiaries':'sum',
 'Number of Asian Pacific Islander Beneficiaries':'sum',
 'Number of Hispanic Beneficiaries':'sum',
 'Number of American Indian/Alaska Native Beneficiaries':'sum',
 'Number of Beneficiaries With Race Not Elsewhere Classified':'sum',
 'Number of Beneficiaries With Medicare Only Entitlement':'sum',
 'Number of Beneficiaries With Medicare & Medicaid Entitlement':'sum',
 'Percent (%) of Beneficiaries Identified With Atrial Fibrillation':'mean',
 'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia':'mean',
 'Percent (%) of Beneficiaries Identified With Asthma':'mean',
 'Percent (%) of Beneficiaries Identified With Cancer':'mean',
 'Percent (%) of Beneficiaries Identified With Heart Failure':'mean',
 'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease':'mean',
 'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease':'mean',
 'Percent (%) of Beneficiaries Identified With Depression':'mean',
 'Percent (%) of Beneficiaries Identified With Diabetes':'mean',
 'Percent (%) of Beneficiaries Identified With Hyperlipidemia':'mean',
 'Percent (%) of Beneficiaries Identified With Hypertension':'mean',
 'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease':'mean',
 'Percent (%) of Beneficiaries Identified With Osteoporosis':'mean',
 'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis':'mean',
 'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders':'mean',
 'Percent (%) of Beneficiaries Identified With Stroke':'mean',
 'Average HCC Risk Score of Beneficiaries':'mean',
                        'imputed_zero':'sum',
                        'sum_matches_beneficiaries':'sum'
})

Some entries are not in the US

In [691]:
known_zip['NPPES Provider Country'].value_counts()

US    13348
Name: NPPES Provider Country, dtype: int64

In [689]:
known_zip.drop(index = (known_zip[known_zip['NPPES Provider Country'] != 'US']).index, inplace=True)

In [700]:
known_zip[
known_zip["NPPES Provider Zip Code"].astype('str').apply(lambda x: len(x) > 5)
]

,NPPES Provider Zip Code,NPI,NPPES Provider City,NPPES Provider State,NPPES Provider Country,Provider Type,Number of HCPCS,Number of Services,Number of Unique Beneficiaries,Total Submitted Charges,...,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries,imputed_zero,sum_matches_beneficiaries
1509,6035010,1,AGUADILLA,PR,US,Psychiatry,1,98,52,6633.17,...,35.0,54.0,NaN,NaN,31.0,0.0,NaN,0.8287,0,1
1510,6462161,1,DORADO,PR,US,Psychiatry,2,137,31,9808.10,...,55.0,68.0,NaN,NaN,48.0,NaN,NaN,1.1179,0,1
1511,6740084,1,MANATI,PR,US,Psychiatry,2,108,30,7772.51,...,50.0,40.0,NaN,NaN,37.0,NaN,NaN,0.9635,0,1
1512,6744631,1,MANATI,PR,US,Psychiatry,4,161,30,25600.00,...,63.0,75.0,NaN,NaN,67.0,NaN,NaN,1.1411,0,1
1513,6745435,1,MANATI,PR,US,Psychiatry,2,260,74,19639.72,...,47.0,55.0,24.0,NaN,42.0,NaN,NaN,1.0112,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13345,995032746,1,ANCHORAGE,AK,US,Psychiatry,1,230,155,31274.16,...,30.0,30.0,10.0,NaN,21.0,48.0,NaN,1.1895,0,0
13346,995085321,1,ANCHORAGE,AK,US,Psychiatry,7,224,68,31159.82,...,19.0,31.0,NaN,NaN,22.0,75.0,NaN,1.2038,0,0
13347,997014803,1,FAIRBANKS,AK,US,Psychiatry,7,177,31,42540.52,...,NaN,NaN,NaN,0.0,NaN,42.0,NaN,1.0214,0,1
13348,997014871,1,FAIRBANKS,AK,US,Psychiatry,5,107,18,16097.40,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.9761,0,1
13349,998017808,1,JUNEAU,AK,US,Psychiatry,13,360,52,105697.00,...,NaN,40.0,NaN,NaN,21.0,60.0,0.0,1.1419,0,0

In [705]:
known_zip['NPPES Provider Zip Code'
         ].astype('str'
                 ).apply(lambda x: x[:5]
                        ).nunique()

6283

In [706]:
known_zip['five_dig_zip'] = known_zip['NPPES Provider Zip Code'
         ].astype('str'
                 ).apply(lambda x: x[:5]
                        )

In [708]:
known_zip = known_zip['five_dig_zip'].astype('int').map('{:05}'.format)

In [730]:
race_unknown['five_dig_zip'] = \
    race_unknown['NPPES Provider Zip Code'
         ].astype('str'
                 ).apply(lambda x: x[:5]
                        ).astype('int'
                                ).map('{:05}'.format)
race_unknown.groupby('five_dig_zip'
                    )['NPI'].count(
                        ).reset_index(
                            ).five_dig_zip.nunique()

6214

In [742]:
med.drop(index = (med[med['NPPES Provider Country'] != 'US']).index, inplace=True)
med['NPPES Provider Zip Code']

0         215021854
1         602011718
2         436233536
3         321594347
4         166681219
            ...
925323    296407109
925324    208741214
925325    974014604
925326    981012756
925327    231161844
Name: NPPES Provider Zip Code, Length: 925269, dtype: object

In [744]:
mental_med['five_dig_zip'] = \
    mental_med['NPPES Provider Zip Code'
         ].astype('str'
                 ).apply(lambda x: x[:5]
                        ).astype('int'
                                ).map('{:05}'.format)
mental_med.groupby('five_dig_zip'
                    )['NPI'].count(
                        ).reset_index(
                            ).five_dig_zip.nunique()

8338

In [788]:
mental_med['unknown_black_ben']=0

mask = mental_med['Number of Black or African American Beneficiaries'
              ]=='unknown race'
idx = mental_med[mask].index

mental_med.loc[idx, 'unknown_black_ben'] = 1

(mental_med.groupby('five_dig_zip'
                  )['unknown_black_ben'
                       ].sum() == 0).sum()

2124

In [789]:
mental_med['unknown_white_ben']=0

mask = mental_med['Number of Non-Hispanic White Beneficiaries'
              ]=='unknown race'
idx = mental_med[mask].index

mental_med.loc[idx, 'unknown_white_ben'] = 1

(mental_med.groupby('five_dig_zip'
                  )['unknown_white_ben'
                       ].sum() == 0).sum()

2124

In [793]:
mental_med[
    mental_med['Number of Black or African American Beneficiaries'
              ]=='unknown race'
][race_cols]

,Number of American Indian/Alaska Native Beneficiaries,Number of Asian Pacific Islander Beneficiaries,Number of Beneficiaries With Race Not Elsewhere Classified,Number of Black or African American Beneficiaries,Number of Non-Hispanic White Beneficiaries,Number of Hispanic Beneficiaries
58,0,unknown race,12,unknown race,unknown race,unknown race
158,unknown race,unknown race,35,unknown race,unknown race,unknown race
185,unknown race,unknown race,47,unknown race,unknown race,unknown race
208,0,0,14,unknown race,unknown race,unknown race
380,unknown race,unknown race,55,unknown race,unknown race,unknown race
...,...,...,...,...,...,...
924775,unknown race,unknown race,39,unknown race,unknown race,unknown race
924782,unknown race,unknown race,23,unknown race,unknown race,unknown race
924854,unknown race,unknown race,45,unknown race,unknown race,unknown race
925013,unknown race,unknown race,46,unknown race,unknown race,unknown race
925104,unknown race,unknown race,23,unknown race,unknown race,unknown race

How is Census DF split up on zip codes? Does it aggregate these five dig zips or separate them?

# Census DF

In [709]:
census = pd.read_csv('../data/raw/bq-results-20201218-132013-8keivq3ncjn2.csv')

In [710]:
census.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
0,87537,2014-01-01,2510,856,1283,1227,42.1,58,75,87,...,NaN,NaN,304,171,80,593,20,NaN,NaN,NaN
1,87017,2014-01-01,346,112,150,196,50.9,0,0,12,...,NaN,NaN,0,27,15,96,40,NaN,NaN,NaN
2,87528,2014-01-01,3505,727,1758,1747,27.9,260,194,159,...,NaN,NaN,293,266,298,1237,138,NaN,NaN,NaN
3,87533,2014-01-01,133,58,49,84,25.8,0,12,8,...,NaN,NaN,24,8,7,58,3,NaN,NaN,NaN
4,87511,2014-01-01,2896,787,1177,1719,36.0,142,63,44,...,NaN,NaN,263,107,163,1008,279,NaN,NaN,NaN

In [712]:
census.geo_id.shape, census.geo_id.nunique()

((33120,), 33120)

In [713]:
census[census.geo_id == 99701]

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
4250,99701,2014-01-01,17510,6924,8941,8569,32.5,650,389,538,...,2444.0,1812.0,756,907,657,4055,1233,NaN,NaN,NaN