# Importing Modules and Checking Directory

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
pd.__version__

'1.1.5'

In [3]:
os.getcwd()

'/Users/Livi/Projects/Black_mental_health/notebooks/Data_wrangling'

# Uploading Data

In [4]:
med = pd.read_csv("../../data/processed/final2012MEDICARE.csv", index_col=0)

In [5]:
med.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919021 entries, 0 to 919020
Data columns (total 22 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   npi                               919021 non-null  int64
 1   entity_code                       919021 non-null  object
 2   full_zip                          919021 non-null  int64
 3   state                             919021 non-null  object
 4   country                           919021 non-null  object
 5   provider_type                     919021 non-null  object
 6   medicare_participation_indicator  919021 non-null  object
 7   number_of_hcpcs                   919021 non-null  int64
 8   number_of_services                919021 non-null  int64
 9   total_beneficiaries               919021 non-null  int64
 10  total_submitted_charges           919021 non-null  float64
 11  total_allowed_payment             919021 non-null  float64
 12  total_medicare_payment            919021 non-null  float64
 13  avg_beneficiary_age               919021 non-null  int64
 14  avg_hcc_risk_score                919021 non-null  float64
 15  services_per_capita               919021 non-null  float64
 16  allowed_payment_per_capita        919021 non-null  float64
 17  medicare_payment_per_capita       919021 non-null  float64
 18  submitted_charges_per_capita      919021 non-null  float64
 19  region                            919021 non-null  object
 20  subregion                         919021 non-null  object
 21  doctor_category                   919021 non-null  object
dtypes: float64(8), int64(6), object(8)
memory usage: 161.3+ MB

In [6]:
med.full_zip = med.full_zip.apply(lambda x: str(x).zfill(5))
med.npi = med.npi.astype('str')

In [7]:
med.head()

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_medicare_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion,doctor_category
0,1003000126,I,21502,MD,US,Internal Medicine,Y,16,1243,581,...,90965.51,76,2.2264,2.14,196.14,156.57,288.37,South,South Atlantic,General Medicine Pracitioner
1,1003004482,O,21204,MD,US,Ambulatory Surgical Center,Y,37,1054,610,...,653050.74,75,1.2309,1.73,1374.22,1070.57,3059.21,South,South Atlantic,Surgery Specialists
2,1003006586,I,20852,MD,US,Internal Medicine,Y,30,1426,390,...,101517.88,80,2.9636,3.66,327.00,260.30,408.53,South,South Atlantic,General Medicine Pracitioner
3,1003006800,I,21202,MD,US,Physician Assistant,Y,10,88,82,...,14493.58,72,0.9648,1.07,220.93,176.75,1494.89,South,South Atlantic,General Medicine Pracitioner
4,1003007816,I,20910,MD,US,Ophthalmology,Y,29,1059,419,...,97218.06,82,1.3969,2.53,299.55,232.02,445.32,South,South Atlantic,Surgery Specialists

Checkpoint 1

In [8]:
checkpoint1 = med.copy()

In [9]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

In [10]:
census = pd.read_csv('../../data/raw/2012census.csv')

In [11]:
census.head()

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
0,91046,116,13,1987.0,0,117,0,12,0,0,...,11,0,0,141,11,25,0,0,0,20082012
1,20317,232,0,1949.0,0,139,40,24,0,14,...,348,0,0,348,55,84,14,87,79,20082012
2,95915,31,17,1939.0,0,17,20,0,0,0,...,59,0,0,48,17,0,0,0,31,20082012
3,14881,100,0,1986.0,0,0,68,0,0,16,...,100,0,0,100,17,0,0,83,0,20082012
4,71345,52,26,1970.0,0,78,0,0,0,0,...,113,0,0,113,28,1,28,56,0,20082012

checkpoint2

In [12]:
checkpoint2 = census.copy()

In [13]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,19643,16605,13477
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,28629,1657,4491
median_rent,float64,28638,1669,4482
percent_income_spent_on_rent,float64,29152,401,3968
owner_occupied_housing_units_upper_value_quartile,float64,31921,6057,1199
owner_occupied_housing_units_lower_value_quartile,float64,31921,4215,1199
owner_occupied_housing_units_median_value,float64,31921,5125,1199
gini_index,float64,32241,4141,879
median_income,float64,32251,20047,869
median_year_structure_built,float64,32409,69,711
income_per_capita,float64,32548,20115,572
median_age,float64,32721,676,399
some_college_and_associates_degree,float64,32989,7360,131
not_us_citizen_pop,float64,32989,4159,131
different_house_year_ago_same_city,float64,32989,3681,131
population_1_year_and_over,float64,32989,15192,131
less_than_high_school_graduate,float64,32989,4695,131
different_house_year_ago_different_city,float64,32989,4801,131
graduate_professional_degree,float64,32989,4274,131
bachelors_degree_2,float64,32989,5711,131
high_school_including_ged,float64,32989,7087,131
commuters_drove_alone,int64,33120,9950,0
commuters_by_carpool,int64,33120,2888,0
commuters_by_subway_or_elevated,int64,33120,854,0
employed_finance_insurance_real_estate,int64,33120,2375,0
employed_arts_entertainment_recreation_accommodation_food,int64,33120,2841,0
employed_construction,int64,33120,2092,0
employed_education_health_social,int64,33120,5165,0
commuters_by_car_truck_van,int64,33120,10544,0
employed_information,int64,33120,1083,0

Only keep Census zipcodes that appear in the Medicare DF

In [14]:
census.geo_id = census.geo_id.astype('str').apply(lambda x: x.zfill(5))

In [15]:
med[med.full_zip.isin(census.geo_id)].shape, med[~med.full_zip.isin(census.geo_id)].shape

((893865, 22), (25156, 22))

In [16]:
pd.options.display.max_rows = 120
med[
    ~med.full_zip.isin(census.geo_id)].head()

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_medicare_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion,doctor_category
9,1003031642,I,21287,MD,US,CRNA,Y,11,129,128,...,16155.22,69,1.6325,1.01,165.20,126.21,695.80,South,South Atlantic,Other Specialists
13,1003066549,I,21287,MD,US,Physician Assistant,Y,19,273,228,...,24870.71,65,2.1453,1.20,138.48,109.08,908.55,South,South Atlantic,General Medicine Pracitioner
19,1003080797,I,21287,MD,US,Pathology,Y,11,944,282,...,36469.10,70,1.4237,3.35,165.35,129.32,540.03,South,South Atlantic,Medical Specialists
29,1003121096,I,20892,MD,US,Critical Care (Intensivists),Y,9,50,35,...,5493.73,78,2.3124,1.43,200.68,156.96,729.66,South,South Atlantic,Surgery Specialists
54,1003821521,I,21287,MD,US,Ophthalmology,Y,23,899,251,...,104822.22,73,1.1481,3.58,561.76,417.62,1239.03,South,South Atlantic,Surgery Specialists

##### Many are PO Boxes. Some are hospitals with their own zip codes. I want to drop these rows from Med, looking at how much of my data this will remove:

In [17]:
print(' Total providers in Med df:',med.shape[0],
     '\n Total beneficiaries in Med df:', med.total_beneficiaries.sum(),
     '\n Total providers whose zips not in Census:', 
                          med[~med.full_zip.isin(census.geo_id)].shape[0],
     '\n Total beneficiaries in Med in zips not in Census:', 
                          med[~med.full_zip.isin(census.geo_id)].total_beneficiaries.sum(),
     '\n Percent providers with missing zips of all providers:',
                          round(med[~med.full_zip.isin(census.geo_id)].shape[0] \
                          / med.shape[0] * 100, 2),  '%',
     '\n Percent beneficiaries in missing zips of all beneficiaries:',
                          round(med[~med.full_zip.isin(census.geo_id)].total_beneficiaries.sum() \
                          / med.total_beneficiaries.sum() * 100,2),  '%')

 Total providers in Med df: 919021
 Total beneficiaries in Med df: 354214946
 Total providers whose zips not in Census: 25156
 Total beneficiaries in Med in zips not in Census: 8588112
 Percent providers with missing zips of all providers: 2.74 %
 Percent beneficiaries in missing zips of all beneficiaries: 2.42 %

In [18]:
idx = med[~med['full_zip'].isin(census.geo_id)].index
med.drop(index = idx, inplace=True)

Dropping Rows from Census that don't appear in Medicare DF

In [19]:
print(census.shape)
idx = census[~census.geo_id.isin(med.full_zip)].index
census.drop(index = idx, inplace = True)
print(census.shape)

(33120, 252)
(19277, 252)

In [20]:
med.full_zip.nunique()

19277

Examining Nulls

In [21]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,16029,14432,3248
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,18800,1572,477
median_rent,float64,18805,1614,472
percent_income_spent_on_rent,float64,18836,391,441
owner_occupied_housing_units_upper_value_quartile,float64,18950,5367,327
owner_occupied_housing_units_lower_value_quartile,float64,18950,3949,327
owner_occupied_housing_units_median_value,float64,18950,4695,327
gini_index,float64,19074,2892,203
median_income,float64,19075,15472,202
median_year_structure_built,float64,19078,68,199
income_per_capita,float64,19204,14302,73
median_age,float64,19220,513,57
some_college_and_associates_degree,float64,19275,7341,2
not_us_citizen_pop,float64,19275,4151,2
different_house_year_ago_same_city,float64,19275,3677,2
population_1_year_and_over,float64,19275,14234,2
less_than_high_school_graduate,float64,19275,4681,2
different_house_year_ago_different_city,float64,19275,4789,2
graduate_professional_degree,float64,19275,4274,2
bachelors_degree_2,float64,19275,5709,2
high_school_including_ged,float64,19275,7065,2
commuters_drove_alone,int64,19277,9813,0
commuters_by_carpool,int64,19277,2876,0
commuters_by_subway_or_elevated,int64,19277,848,0
employed_finance_insurance_real_estate,int64,19277,2370,0
employed_arts_entertainment_recreation_accommodation_food,int64,19277,2836,0
employed_construction,int64,19277,2087,0
employed_education_health_social,int64,19277,5145,0
commuters_by_car_truck_van,int64,19277,10383,0
employed_information,int64,19277,1081,0

Some of these columns are irrelevant or are redundant.

In [22]:
#there are other cols that speak to Commute to work
cols_to_drop = ['aggregate_travel_time_to_work','owner_occupied_housing_units_lower_value_quartile',
'owner_occupied_housing_units_median_value','owner_occupied_housing_units_upper_value_quartile',
'renter_occupied_housing_units_paying_cash_median_gross_rent','median_year_structure_built']

census.drop(columns = cols_to_drop, inplace = True)

In [23]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
median_rent,float64,18805,1614,472
percent_income_spent_on_rent,float64,18836,391,441
gini_index,float64,19074,2892,203
median_income,float64,19075,15472,202
income_per_capita,float64,19204,14302,73
median_age,float64,19220,513,57
less_than_high_school_graduate,float64,19275,4681,2
different_house_year_ago_same_city,float64,19275,3677,2
different_house_year_ago_different_city,float64,19275,4789,2
not_us_citizen_pop,float64,19275,4151,2
bachelors_degree_2,float64,19275,5709,2
high_school_including_ged,float64,19275,7065,2
population_1_year_and_over,float64,19275,14234,2
some_college_and_associates_degree,float64,19275,7341,2
graduate_professional_degree,float64,19275,4274,2
civilian_labor_force,int64,19277,11595,0
commuters_by_subway_or_elevated,int64,19277,848,0
commuters_drove_alone,int64,19277,9813,0
black_including_hispanic,int64,19277,5224,0
white_including_hispanic,int64,19277,13345,0
female_85_and_over,int64,19277,1062,0
employed_agriculture_forestry_fishing_hunting_mining,int64,19277,959,0
employed_arts_entertainment_recreation_accommodation_food,int64,19277,2836,0
employed_construction,int64,19277,2087,0
employed_education_health_social,int64,19277,5145,0
employed_finance_insurance_real_estate,int64,19277,2370,0
commuters_by_carpool,int64,19277,2876,0
employed_information,int64,19277,1081,0
employed_other_services_not_public_admin,int64,19277,1722,0
employed_public_administration,int64,19277,1844,0

In [24]:
# Let's look at the rows with 2 nulls
null_zips = census[census.graduate_professional_degree.isnull()].geo_id
med[med.full_zip.isin(null_zips)]

,npi,entity_code,full_zip,state,country,provider_type,medicare_participation_indicator,number_of_hcpcs,number_of_services,total_beneficiaries,...,total_medicare_payment,avg_beneficiary_age,avg_hcc_risk_score,services_per_capita,allowed_payment_per_capita,medicare_payment_per_capita,submitted_charges_per_capita,region,subregion,doctor_category
48357,1750491288,I,00617,IL,US,Podiatry,Y,51,2573,1131,...,148671.75,72,1.7435,2.27,171.03,131.45,274.12,Midwest,East North Central,Medical Specialists
446885,1477551984,I,00960,OR,US,Obstetrics/Gynecology,Y,3,40,24,...,1405.50,71,1.3889,1.67,88.87,58.56,89.67,West,Pacific,General Medicine Pracitioner

In [25]:
# The first row is a typo in Full_zip, should be 60617
med.loc[
    med[med.npi == '1750491288'].index, 'full_zip'] = '60617'

# The second row is actually from PR not OR, dropping this from Med.
med.drop(index = med[med.npi=='1477551984'].index, inplace = True)

In [26]:
census = census[census.graduate_professional_degree.notnull()]

##### REEXAMINING CENSUS NULLS

In [27]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
median_rent,float64,18804,1614,471
percent_income_spent_on_rent,float64,18835,391,440
gini_index,float64,19073,2891,202
median_income,float64,19074,15471,201
income_per_capita,float64,19202,14300,73
median_age,float64,19218,513,57
employed_transportation_warehousing_utilities,int64,19275,1789,0
bachelors_degree_or_higher_25_64,int64,19275,6675,0
children,int64,19275,8255,0
graduate_professional_degree,float64,19275,4274,0
four_more_cars,int64,19275,1561,0
children_in_single_female_hh,int64,19275,3789,0
commuters_by_bus,int64,19275,1621,0
commuters_by_car_truck_van,int64,19275,10382,0
commuters_by_carpool,int64,19275,2876,0
commuters_by_subway_or_elevated,int64,19275,848,0
commuters_drove_alone,int64,19275,9813,0
different_house_year_ago_different_city,float64,19275,4789,0
employed_wholesale_trade,int64,19275,1187,0
different_house_year_ago_same_city,float64,19275,3677,0
employed_arts_entertainment_recreation_accommodation_food,int64,19275,2836,0
female_female_households,int64,19275,212,0
employed_construction,int64,19275,2087,0
employed_education_health_social,int64,19275,5145,0
employed_finance_insurance_real_estate,int64,19275,2370,0
employed_information,int64,19275,1081,0
employed_manufacturing,int64,19275,3053,0
employed_other_services_not_public_admin,int64,19275,1722,0
employed_public_administration,int64,19275,1844,0
employed_retail_trade,int64,19275,3191,0

In [28]:
census.columns[census.columns.str.contains('_rent$|^rent_|_rent_', regex=True)]

Index(['rent_burden_not_computed', 'rent_over_50_percent',
       'rent_40_to_50_percent', 'rent_35_to_40_percent',
       'rent_30_to_35_percent', 'rent_25_to_30_percent',
       'rent_20_to_25_percent', 'rent_15_to_20_percent',
       'rent_10_to_15_percent', 'rent_under_10_percent',
       'vacant_housing_units_for_rent', 'median_rent',
       'percent_income_spent_on_rent'],
      dtype='object')

In [29]:
census.columns[census.columns.str.contains('income')]

Index(['median_income', 'income_per_capita', 'percent_income_spent_on_rent',
       'income_less_10000', 'income_10000_14999', 'income_15000_19999',
       'income_20000_24999', 'income_25000_29999', 'income_30000_34999',
       'income_35000_39999', 'income_40000_44999', 'income_45000_49999',
       'income_50000_59999', 'income_60000_74999', 'income_75000_99999',
       'income_100000_124999', 'income_125000_149999', 'income_150000_199999',
       'income_200000_or_more', 'households_retirement_income'],
      dtype='object')

In [30]:
census.columns[census.columns.str.contains('_to_')]

Index(['rent_40_to_50_percent', 'rent_35_to_40_percent',
       'rent_30_to_35_percent', 'rent_25_to_30_percent',
       'rent_20_to_25_percent', 'rent_15_to_20_percent',
       'rent_10_to_15_percent', 'dwellings_3_to_4_units',
       'dwellings_5_to_9_units', 'dwellings_10_to_19_units',
       'dwellings_20_to_49_units', 'housing_built_2000_to_2004', 'male_5_to_9',
       'male_10_to_14', 'male_15_to_17', 'male_18_to_19', 'male_22_to_24',
       'male_25_to_29', 'male_30_to_34', 'male_35_to_39', 'male_40_to_44',
       'male_45_to_49', 'male_50_to_54', 'male_55_to_59', 'male_65_to_66',
       'male_67_to_69', 'male_70_to_74', 'male_75_to_79', 'male_80_to_84',
       'female_5_to_9', 'female_10_to_14', 'female_15_to_17',
       'female_18_to_19', 'female_22_to_24', 'female_25_to_29',
       'female_30_to_34', 'female_35_to_39', 'female_40_to_44',
       'female_45_to_49', 'female_50_to_54', 'female_55_to_59',
       'female_60_to_61', 'female_62_to_64', 'female_65_to_66',
       'female_67_to_69', 'female_70_to_74', 'female_75_to_79',
       'female_80_to_84', 'in_grades_1_to_4', 'in_grades_5_to_8',
       'in_grades_9_to_12', 'male_45_to_64', 'walked_to_work'],
      dtype='object')

In [31]:
info[info['null values']>0].index

Index(['median_age', 'median_income', 'income_per_capita', 'median_rent',
       'percent_income_spent_on_rent', 'gini_index'],
      dtype='object')

While these factors are probably very relevant to the number of providers in a zip code, the health risk score, and the use of different providers, it seems there are other features in Census DF that may also address income, rent, and age.

In [32]:
#dropping these cols with nulls
cols = info[info['null values']>0].index
census.drop(columns = cols, inplace=True)

# Checking Data Types

All columns in Census besides Geo_id should be 'int' or 'float.' I want to see what is listed as object.

In [33]:
census.select_dtypes('object').head(1)

  geo_id
5  79916

There's a column called do_date that includes the years used to make the estimate Census measures. I'm going to keep that last four digits which represent the year being estimated.

In [128]:
census.do_date = census.do_date.apply(lambda x: str(x)[-4:])
census.do_date = pd.to_datetime(census.do_date, format='%Y')
census.do_date

5       2012-01-01
11      2012-01-01
20      2012-01-01
44      2012-01-01
71      2012-01-01
           ...
33115   2012-01-01
33116   2012-01-01
33117   2012-01-01
33118   2012-01-01
33119   2012-01-01
Name: do_date, Length: 19275, dtype: datetime64[ns]

In [129]:
med.to_csv('../../data/processed/final2012MEDICARE.csv')
census.to_csv('../../data/processed/final2012CENSUS.csv')